[2021-08-10 18:20] joncinque commented on #2244
If you look over at the code, error `0x15` is `WrongStaker`, meaning that the instruction was not signed by the "staker" authority for the pool

* https://github.com/solana-labs/solana-program-library/blob/7c89855f0fe473466a6fdc0a2274d40db647b517/stake-pool/program/src/error.rs#L84
* https://spl.solana.com/stake-pool#motivation for the staker definition

[2021-08-10 18:22] joncinque commented on #2237
Typically, proptest should give you a line to add to the `proptest-regressions` file to reproduce this right away.  I'm surprised that this error never showed that.  If you ever do get that seed, then we can reproduce and fix the issue.

[2021-08-10 19:56] #2237 closed

[2021-08-11 04:21] joncinque commented on #2236
These are all great ideas! I went through most of these myself before going with the in-place deserialization model that we have now :sweat_smile:

[2021-08-11 14:47] ilmoi commented on #2229
Oh I see. Basically the "user" in this case happens to be the exchange owner, which is why we withdraw the pool tokens from them. Did I get that right?

[2021-08-11 15:36] joncinque commented on #2229
Yes exactly.

[2021-08-11 19:09] ilmoi commented on #2229
Thanks for clarifying!

[2021-08-11 19:09] #2229 closed

[2021-08-11 19:23] joncinque commented on #2229
:smile: anytime!

[2021-08-11 22:11] joncinque opened #2260 "stake-pool: instant stake activation"
#### Problem

Any user can deposit a stake account with extra, non-staked lamports into the pool receiving pool tokens for all lamports -> pool tokens can be redeemed for a fully staked stake account.

#### Solution

A user depositing stake should only receive pool tokens equal to normal stake account rent-exemption (2.2 million lamports) + stake's delegation.  Note that we shouldn't use the provi

[2021-08-11 22:12] joncinque opened #2261 "stake-pool: Handle closed manager fee account"
#### Problem

The manager fee account may be closed -> no more fees can be paid, so no withdraw possible.

#### Solution

Properly handle the situation where the manager fee account may be closed

[2021-08-11 22:14] joncinque opened #2262 "stake-pool: preferred validator can be set to validator not part of the pool"
#### Problem

The preferred withdraw / deposit vote address can be set to a validator that is not part of the pool, by 1) removing the validator from the pool (state of the entry is now ReadyForRemoval) 2) changing the preferred address to that validator 3) calling CleanupRemovedValidatorEntries only after 2.

#### Solution

Avoid setting the preferred validator if it's marked as `ReadyForRemoval`

[2021-08-11 22:17] joncinque opened #2263 "stake-pool: Bypass withdrawal fee increase limit"
#### Problem

`UpdateStakePoolBalance` sets the withdrawal fee to the next withdrawal fee, and can be called multiple times per epoch -> alternating calls to `UpdateStakePoolBalance` and `SetWithdrawalFee` allow arbitrary increase in a single epoch

#### Solution

Only update the fees if `clock.epoch != stake_pool.last_update_epoch`

[2021-08-11 22:19] joncinque opened #2264 "stake-pool: Add check for fee account in SetManager"
#### Problem

`SetManager` allows setting a `manager_fee_account` that is not a valid SPL token account

#### Solution

Add a check

[2021-08-11 22:21] joncinque opened #2265 "stake-pool: Require signature in `SetManager`"
#### Problem

SetManager does not require signature from new manager, while Initialize does

#### Solution

You probably want to require the signature of the new manager in SetManager as well, to make sure that the new manager is a key with a valid private key

[2021-08-11 22:25] joncinque opened #2266 "stake-pool: Consider hard-coding `spl_token::id` instead of passing in token program"
#### Problem

There are no guarantees that a custom token program will behave exactly the same way as SPL token, so it could have sketchy logic which obviates all of the initialize checks.

#### Solution

Consider hard-coding `spl_token::id()` everywhere

[2021-08-11 22:26] joncinque opened #2267 "stake-pool: Initialize unusable pool"
#### Problem

set stake_pool_account and validator_list_account passed to Initialize to equal accounts -> the validator list's account data is overwritten with the stake pool data, leading to unusable pool (since account type of the validator list is now wrong)

#### Solution

Add a check that the accounts are different

[2021-08-12 01:56] jon-chuang commented on #2260
@joncinque , for consistency, I consider everything apart from the `delegation.stake`, including the rent exempt amount, as being sol deposits.

I'm not sure if this is an undesirable property.

For instance, a pool manager may want to forbid direct SOL deposits, but this mechanism would allow such deposits.

Perhaps we should stick to the choice that a user providing extra lamports beyond `delega

[2021-08-12 05:52] billythedummy commented on #2265
Should we do the same for `SetStaker` as well?

This doesn't preclude managers from being on-chain programs, right? Since `new_manager` can be a PDA of an on-chain manager program and signed via CPI using `invoke_signed`

[2021-08-12 09:52] ilmoi opened #2276 "Governance: no check for the next instruction index?"
I noticed that the `process_execute_instruction` method doesn't do a check for instruction's index.

Unless I missed it, I think the only checks are:
1. That the instruction belongs to the proposal
[code]
2. That the proposal is in an acceptable state
[code]
3. That the hold up time has passed
[code]
4. That the instruction hasn't been already executed
[code]

Is this intentional with the idea tha

[2021-08-13 03:36] joncinque commented on #2265
For `SetStaker`, we're safe since there's always the manager behind.  The idea of requiring a signature is to be sure that you never brick the pool.  And exactly, we can have `new_manager` as a PDA if the calling program uses `invoked_signed`

[2021-08-13 03:38] joncinque commented on #2266
haha not quite, the idea is to avoid having `token_program_id` set on the stake pool, and just always use `spl_token::id()`. this is just a consideration though.  the only part that actually needs to be changed is the one references to `spl_token::id()` in the instruction code

[2021-08-13 04:30] #2234 closed

[2021-08-13 05:59] jon-chuang commented on #2266
Hmm yeah, but then changing would require a redeployment of the program.

What's this `spl_token_v2` though? Is my question. Isn't it an upgradeable version of the token program?

[2021-08-14 00:19] billythedummy commented on #2266
should we get rid of the `token_program_id` field on the stake pool state struct then? Though this change will not be backward compatible.

Also, sorry but I don't quite get "the only part that actually needs to be changed is the one references to `spl_token::id()` in the instruction code". What does "instruction code" refer to, the process_*instruction* functions?

[2021-08-14 04:01] joncinque commented on #2266
I literally just meant this line: https://github.com/solana-labs/solana-program-library/blob/7d748fc507162cddb158ac18c72d4484477b0357/stake-pool/program/src/instruction.rs#L780 -- it's the only line that requires `spl_token::id()`, every other part of the program (I believe) would work with any token program, not just the official SPL token program

[2021-08-14 04:09] #2263 closed

[2021-08-14 04:16] #2265 closed

[2021-08-14 04:30] #2267 closed

[2021-08-15 09:50] danmt opened #2284 "Token JS Client: Expose createTransferCheckedInstruction static method from Token class"
# Overview

There's a static method in the Token class named `createTransferCheckedInstruction`, which is pretty convenient if you want to easily generate a TransferChecked TransactionInstruction. The mentioned method is not exposed in the [declarations file](https://github.com/danmt/solana-program-library/blob/master/token/js/module.d.ts).

## Solution

While I'm not entirely sure how the entire

[2021-08-15 14:46] mvines commented on #2284
Hey, a PR for this would be great!  We normally make releases to npmjs on demand for the token package

[2021-08-16 16:13] #2284 closed

[2021-08-17 20:00] joncinque commented on #2219
Looks like the crate hasn't been released yet.  Maybe @jordansexton has a plan for releasing the CLI crate at some point?

[2021-08-17 20:02] #2262 closed

[2021-08-17 20:27] #2260 closed

[2021-08-17 20:32] #2261 closed

[2021-08-17 20:36] #2266 closed

[2021-08-18 17:17] ryoqun commented on #2249
ref: https://github.com/solana-labs/solana-program-library/issues/1371

[2021-08-18 17:21] jstarry commented on #2249
Closed in favour of https://github.com/solana-labs/solana-program-library/issues/1371

[2021-08-18 17:21] #2249 closed

[2021-08-18 17:22] jstarry commented on #2248
Related to https://github.com/solana-labs/solana-program-library/issues/1371

[2021-08-18 20:57] jordansexton commented on #2219
Ah, I'll do this. I've never released a crate before... so I forgot to learn how!

[2021-08-19 03:11] jordansexton commented on #2061
Closing as stale, I believe this was resolved in https://github.com/solana-labs/solana-program-library/pull/2056

[2021-08-19 03:56] joncinque commented on #2061
I don't think this was resolved unfortunately, there's still the bug in the `binary-oracle-pair` program where the mints aren't checked:

Essentially, very few of the inputs around https://github.com/solana-labs/solana-program-library/blob/fd662e5f878d58ad06d3cb6365171ebaec41b39d/binary-oracle-pair/program/src/processor.rs#L403 are checked :sweat_smile:

[2021-08-19 04:03] jordansexton commented on #2061
Ah, sorry about that! I misunderstood

[2021-08-19 04:58] hitwill commented on #2248
@chaseeb in the interim, how can we use the API to recover Kin from a 'child of a child' token account?

[2021-08-19 15:05] jarry-xiao commented on #2061
Added a fix

[2021-08-19 17:07] terraquestx commented on #2217
This issue has resolved itself and is no longer happening on both devnet and testnet.

[2021-08-19 17:07] #2217 closed

[2021-08-20 13:48] andropixels opened #2312 "Why the offset curve is not a valid curve type in token swap program ?"
https://github.com/solana-labs/solana-program-library/blob/master/token-swap/program/src/constraints.rs#L77
in above line the VALID_CURVE TYPE does  not  include the offset curve type? why is  that ?
is there any possible way to implement  a offset without changing the existing smart  contract ?

[2021-08-23 01:33] hitwill commented on #2248
This has affected a few of our community members as well. Keen to have a solution

[2021-08-23 23:47] Arrowana commented on #2295
We suffered from this using a reward distribution back-end (for community stuff) and ended up implementing that on-chain:
https://github.com/mercurial-finance/create-ata-if-missing-program

[2021-08-24 17:36] joncinque commented on #2061
@jarry-xiao This should be ready to close, correct?

[2021-08-24 17:41] joncinque commented on #2312
The idea of the `VALID_CURVE_TYPE`, and the contraints system in general, is to allow different teams to reuse the same token-swap program, but impose certain restrictions as needed.  For example, as the person managing the program, you can enforce that you must own all of the accounts, so that other people don't benefit from your work.

Constraints are only ever included if you use the optional `

[2021-08-27 11:54] mectors opened #2343 "token-cli: when using spl-token --output json-compact key fields are missing"
When using spl-token create-multisig for instance the normal output is:
Creating 2/2 multisig 8MGCFELN4fm4UqtEmTcUzfDgew41WxEp1SGVPySaRduH

Signature: sNBhtcns5EfSYAxE8GXEuFdroPCejS8YBYks1EijpuyfUd8iNLvUoE4VYC8bywUzMFrkBJSzL9t6eHcYBRVZHTf

But when using --output json-compact the output is:
{"signature":"TqyHw6fwZBSAe9ZUKhJXSDe9QpR9R54iXpsJnxxZr7Ba7WFPaeCi3ocxEA5JUAGXaSkzmeQC7K7PcdP4fc2o1Dv"}
The

[2021-08-28 19:24] the-emerald opened #2344 "Cannot install spl-stake-pool-cli v0.4.0"
Attempted to install `spl-stake-pool-cli` v0.4.0, but there was a problem with dependencies.
[code]

[2021-08-28 19:26] the-emerald commented on #2344
In fact, v0.3.0 does not install either.
[code]
Only v0.2.0 installs properly.

[2021-08-29 10:55] heyamola commented on #2344
Same issue here. any solution?

[2021-08-29 23:06] rokelopez opened #2345 "Cant create new token"
when I try creating my SPL token it says the system cannot find the path specified. Please help

[2021-08-31 08:50] vkomenda commented on #2344
Yes. https://github.com/vkomenda/solana-program-library/tree/stake-pool-v0.4.0-compile-fix

[2021-08-31 20:02] joncinque commented on #2345
This means that you haven't setup a keypair to use by default with the Solana CLI.  You can check out the docs at https://spl.solana.com/token#default-keypair for more information about how to do that.

In the future, please get in touch through Discord https://discord.gg/aS5Z8W53 in the #developer-support channel for support. GitHub is mainly used for developing.

[2021-08-31 20:02] #2345 closed

[2021-08-31 20:09] joncinque commented on #2344
One of the dependent packages got yanked unfortunately, which has broken some of our old packages, bubbling up to this one.  I will be deploying version 0.5 of these crates within the coming week with the new program.

In the meantime, please feel free to use @vkomenda 's fix locally to build them yourself! Thanks for the contribution

[2021-08-31 20:26] SebastianBor commented on #2276
Thank you for looking into it. In the current version the instructions are unordered. They could be spaced apart in time using the `hold_up_time` to provide soft ordering. This way the proposal owner can take care of executing them in order.
Strong and enfrocabel ordering of instructions is planned for future versions [InstructionExecutionFlags](https://github.com/solana-labs/solana-program-librar

[2021-08-31 20:26] #2276 closed

[2021-08-31 21:33] alexkruglov commented on #2248
A gentle follow up on this to see if we are making progress. I am one of those affected by this

[2021-09-02 09:52] 3for opened #2369 "run `test_cross_program_invocation` failed"
$ cargo test test_cross_program_invocation --no-default-features --features "test-bpf"

get error info:
[code]

1) How can I fix this problem?
2) Any other example for cross program invocation?

[2021-09-03 03:03] 3for commented on #2369
Thanks a lot. It fixed.

[2021-09-03 03:03] #2369 closed

[2021-09-05 05:54] OrionRiftStudios opened #2375 "SPL Token account locked how?"
Hello!
We are working with Solana and we would like to know if we can lock up an account for an specific period of time like Stake Accounts.
if this is not possible we would like to know how is the process to lock up tokens with solana.

thank you!

[2021-09-07 22:44] joncinque commented on #2375
Hello there!

You can freeze SPL Token accounts, but there is no default functionality for unlocking them at a specific time like stake accounts.  There are other programs built on top that do this, such as https://github.com/Bonfida/token-vesting.  Perhaps some combination of these two will work?

These GitHub repos are mostly focused on development, so in the future, I encourage you to ask your

[2021-09-07 22:45] #2312 closed

[2021-09-08 13:11] joncinque commented on #2344
Version 0.5 is now published, so you can do `cargo install spl-stake-pool-cli` to have the package once again.  Note that this operates on a new deployment of the program, so an old pool from version 0.4 will not be visible.

[2021-09-08 13:24] #2244 closed

[2021-09-08 13:24] joncinque commented on #2264
This has been fixed for a bit

[2021-09-08 13:24] #2264 closed

[2021-09-08 13:25] #1933 closed

[2021-09-09 08:47] acamill commented on #1797
How do you install the spl-token-cli:2.0.13? I have 2.0.12 I cannot find how to upgrade, dont even remember how I isntalled it 🦀

[2021-09-09 08:56] acamill commented on #1797
Oh I think I need to update my solana instalation? But I want to use the latest stable

[2021-09-09 14:09] DiazRock opened #2396 "Failing in convert a mnemonic to a seed for a solana wallet"
I posted a related SO question [here](https://stackoverflow.com/questions/69119382/failing-in-convert-a-mnemonic-to-a-seed-for-a-solana-wallet)

I'm trying to use a wallet seed on the backend, using `nodejs`, to connect in blockchain. The Keypair module from ["@solana/web3.js"](https://github.com/solana-labs/solana-web3.js/) library has a fromSeed method, that I use with input from another method,

[2021-09-10 09:43] ppoliani commented on #1983
Is there a reason the token program allows creating Mint accounts with 18 decimals? The `supply` being an `u64` does not leave too much room for practical application of such a token.

[2021-09-10 21:29] t-nelson commented on #2396
ed25519 secret keys are generated from 32-byte seeds. `bip39.mnemonicToSeed` generates 64-byte seeds. We truncate the seed in the Rust implementation https://github.com/solana-labs/solana/blob/2de2c6ddd7981e942c634243e8558a84727d791f/sdk/src/signer/keypair.rs#L158.  Try that and verify that you're recovering the same keypair as `solana-keygen recover`

[2021-09-10 21:29] #2396 closed

[2021-09-15 15:31] tina1998612 opened #2417 "Feature Request for CLI: Wrap SOL as Associated Token Account in One Command"
If I already have an associated token account in my wallet, I have to run `spl-token wrap 1 --create-aux-account` and then `spl-token gc`, two commands.
It would be nice if the CLI can provide one command for this.

Thanks! :)

[2021-09-16 00:14] allanperlee commented on #1710
Hás anyone worked on this issue? Im interested in contributing.

[2021-09-16 00:15] jordansexton commented on #1710
Your contribution would be very welcome! I haven't had time to work on it

[2021-09-16 00:15] allanperlee commented on #1865
Hás this issue been closed already?

[2021-09-16 00:18] allanperlee commented on #1710
Hi jordansexton, does this need tô bê assigned tô me tô work on this?

[2021-09-16 00:29] mvines commented on #1865
No it's still pending, see https://github.com/solana-labs/solana-program-library/blob/master/stake-pool/program/src/stake_program.rs
But this issue is now unblocked and can be resolved now that SPL is using Solana 1.7

[2021-09-16 00:46] jordansexton commented on #1710
It doesn't need to be but I assigned it to you 😄

[2021-09-16 03:16] allanperlee commented on #1710
Great, thanks jordansexton!

[2021-09-16 22:43] joncinque commented on #1865
There's one last bit to be resolved before stake pools can use the SDK version, from the PR linked above :arrow_up:

[2021-09-19 01:11] rokelopez commented on #2345
Hey Jon, apologies. Im still getting an error. its saying that a
signature is missing for my pubkey key. Could you please help me out

On Tue, Aug 31, 2021 at 1:02 PM Jon Cinque ***@***.***> wrote:

[2021-09-20 13:52] willemmcd commented on #1838
I'm having a similar issue on createMint(..) with a React app using phantom wallet as the provider. Have you managed to sort out your issue?

[2021-09-20 14:40] joncinque commented on #2345
For sure! Please reach out at our Discord, most likely a key was improperly configured somewhere.  You can also try going through the directions outlined at https://spl.solana.com/token

[2021-09-20 22:37] joncinque commented on #2344
Closing, let me know if you have any other questions

[2021-09-20 22:37] #2344 closed

[2021-09-22 09:36] Konosh93 opened #2443 "[ProgramTest] Transaction not processed when signed with a custom keypair"
## Summary
I am trying to test a program using  ProgramTest but I need to sign the test transaction with a different keypair than the payer provided by the helper. Unfortunately, this seems to cause the transaction to timeout. The reason I am using another keypair is that I need the public key of the keypair to use as an owner for some token accounts used in the test. I apologize if I am misunders

[2021-09-26 14:10] michalko commented on #1838
same, does anyody know how do i createMint on mainNet? i am connected to Phantom wallet using @solana/wallet-adapter-react, but it doesn't have access to privateKey, so i can't use createMint, because it needs Signer which has a secretKey

[2021-09-27 09:45] gordylad opened #2457 "Please Help. My tokens went to associated account."
Hello I am a 60yr old crypto enthusiast. Over the weekend I made a few transactions and for some reason my tokens have gone to an associated account that I have tracked and can see them there. The strange thing is I provided liquidity to a system and I am generating rewards even though my LP tokens are in the associated account. When I harvest the rewards they go to my original wallet.

I am not a

[2021-09-28 15:32] jstarry commented on #2457
Hey Gordon, sorry to hear about your troubles here. When you look at the associated token account on the Solana explorer https://explorer.solana.com do you see your address as the owner? Or is the owner a different associated token account?

[2021-09-28 15:50] gordylad commented on #2457
Hi Just
Thanks for your email Im not techy so not sure but here is my account and the associated account could you check?

MY ACCOUNT       5KZEQVczYHnrVdmz2XJmsoxTUZELGPCmFCMWqhbkGfSm

OTHER ACCOUNT       AcQ7S2sprmo3VhpLvMBSFLJhSgv5tPVc1d7BXWW7poMh
    On Tuesday, 28 September 2021, 16:32:42 BST, Justin Starry ***@***.***> wrote:

Hey Gordon, sorry to hear about your troubles here. When you look

[2021-09-28 16:45] gordylad commented on #2457
Hi Justin
Sorry but due to the nature of what's going on been feeling a little hazy in the head so will try to explain more.
I made transactions over the weekend both on Raydium and Orca within a few minutes of each other. On Raydium I removed liquidity and on Orca I bought Orca with Sol to add to my already added LP SOL/Orca.
Until today I was able to see my Orca/Sol pool and other Orca pools on

[2021-09-28 17:57] jstarry commented on #2457
@gordylad can you please share which wallet you are using (phantom, sollet, etc)? And can you also review your browser history and share which domains you used for orca and raydium?

[2021-09-28 18:21] gordylad commented on #2457
Hi Justin
Wallet has always been sollet. Domains used were Orca | The DEX for people, not programs

|
|
|  |
Orca | The DEX for people, not programs

Orca is the easiest, fastest, and most user-friendly cryptocurrency exchange on the Solana blockchain.
 |

 |

 |

and Home | Serum

|
|
|  |
Home | Serum

TechmyBrand

Serum is a decentralized exchange (DEX) and ecosystem that brings unprecedented s

[2021-09-28 18:24] jstarry commented on #2457
@gordylad please visit https://github.com/solana-labs/solana-program-library/issues/2457 to give better replies. I need you to check the URL's that you visited in the past 24hr and can you please let me know if you had to recover your wallet seed phrase in the past 24hr. Thanks

[2021-09-28 18:25] jstarry commented on #2457
Also, please share the name of the telegram group and the username of the orca admin you worked with, thanks.

[2021-09-28 18:26] gordylad commented on #2457
Just to say there is still one pool on Orca that would allow me to harvest the rewards even though the LP tokens are not showing in my wallet

0.47 ORCAper day for each $10000.015749ORCAHarvestORCA/USDCTotal Liquidity$49,552,799Yearly Returns282%Dep
    On Tuesday, 28 September 2021, 18:57:41 BST, Justin Starry ***@***.***> wrote:

@gordylad can you please share which wallet you are using (phantom

[2021-09-28 18:51] gordylad commented on #2457
Orca

|
|
|
|  |  |

 |

 |
|
|  |
Orca

The official Telegram group for Orca, the most user-friendly DEX on Solana: https://orca.so Announcements: ht...
 |

 |

 |

@Leo40K     seems to be admin leader

    On Tuesday, 28 September 2021, 19:25:37 BST, Justin Starry ***@***.***> wrote:

Also, please share the name of the telegram group and the username of the orca admin you worked with, thanks.

—

[2021-09-28 19:02] gordylad commented on #2457
Hi just to say I haven’t had to recover my wallet seed phrase per your earlier question thanks

[2021-09-28 19:08] jstarry commented on #2457
Sorry I can't help you with the information you provided. You have been scammed but I'm not sure how. Unfortunately it's very likely you'll get your funds back and there's nothing I can do to help with that. If you provide more information about how you got scammed, we can try to protect others from the same issue.

[2021-09-29 13:50] gordylad commented on #2457
ps I still do not believe a scam took place as I am very robust about any transactions

[2021-09-29 14:32] gordylad commented on #2457
and just to say the following transaction was the last one made from my account which shows a contract address not related to others https://solscan.io/tx/2up8jxoNsfYQr3qEYQttpBwDyCP2GVP5ZfgDM1chtaGehvi82TBS7d3EkSHq4qvHvK7vrpqSXxJQVvfrJk5iztfD

[2021-09-29 15:48] t-nelson commented on #2457
Please take this to Discord (https://solana.com/discord).  Github is a terrible venue for user support and we do not need noise in the developer workflow

[2021-09-29 15:48] #2457 closed

[2021-09-30 13:00] Henry-E opened #2472 "Associated_token keywords can't be used except with `init`"
The `associated_token::` keywords require `init` to be in the account constraints. It would be nice if this wasn't required so that we could use it to verify that the submitted account was indeed an associated token account.

Error message `init must be provided before token rustc`

e.g.
[code]

[2021-09-30 16:12] Henry-E commented on #2472
Whoops, wrong repo

[2021-09-30 16:12] #2472 closed

[2021-10-01 14:49] t-nelson commented on #1838
Please come to https://solana.com/discord.  We don't use github for user support

[2021-10-01 14:49] #1838 closed

[2021-10-02 23:05] allanperlee commented on #1710
Hi jordansexton, there is progress made on the documentation. It is located here:

https://github.com/allanperlee/dummy/blob/master/README.md

Suggestions are encouraged, thanks again.

[2021-10-04 16:02] jordansexton commented on #1710
Thank you! I'll review this today/tomorrow

[2021-10-04 22:03] jordansexton commented on #1710
Hey, it looks really good so far! If you would create a new branch and open a PR, I can more easily provide feedback and we can revise together.

[2021-10-05 01:09] allanperlee commented on #1710
Glad to hear! I tried a pull request with the `git push origin master` command, but I received an error. It asks for a personal access token. What steps can I take to correct this?

[2021-10-05 01:11] allanperlee commented on #1710
Glad to hear! I made a branch, docs, then I tried a pull request with the `git push origin master` command, but I received an error. It asks for a personal access token. What steps can I take to correct this?

[2021-10-05 01:12] allanperlee commented on #1710
Then I tried it from Git Bash and it says, `remote: Permission to solana-labs/solana-program-library.git denied to allanperlee.
fatal: unable to access 'https://github.com/solana-labs/solana-program-library.git/': The requested URL returned error: 403` after commanding `git push origin master`.

[2021-10-05 03:32] jordansexton commented on #1710
Ah, so please create a branch from your fork, and then open a pull request from that branch. This will allow maintainers of the SPL repo to make changes to that branch for the purpose of the PR.

[2021-10-05 04:44] allanperlee commented on #1710
Sorry, but which fork até you referring tô? Tô contextualize, I only cloned the Solana Program Library, then branched.

[2021-10-05 04:45] allanperlee commented on #1710
Sorry, but which fork aré you referring tô? Tô contextualize, I only cloned the Solana Program Library, then branched.

[2021-10-06 01:15] T-Wall opened #2486 "Type Error on Beginner UI"
User experienced this error when purchasing a put option on the beginner UI.

![unknown-1](https://user-images.githubusercontent.com/91228741/136125293-2b7afc71-7231-43fb-bfdd-cf641ca8c41e.png)

[2021-10-06 13:58] joncinque commented on #2486
It looks like this is related to PsyOptions, and not this repo, so please address this issue to the PsyOptions team. It looks like the GitHub repo for frontend project is https://github.com/mithraiclabs/psyoptions-frontend

[2021-10-06 13:58] #2486 closed

[2021-10-06 20:00] allanperlee commented on #1710
Got it, let me do that then!

[2021-10-09 04:28] AlexLeung commented on #1844
*sigh* Solana sucks at open source :/

[2021-10-09 19:40] AlexLeung opened #2497 "Unable to obtain / create token address for recipient"
[code]

this line

[code]

always returns with the error

[code]

I thought the whole point is that if it cannot find the account then it should create it for me??

[2021-10-12 15:26] mvines commented on #1623
We did this to save space in the token account (lowers rent for everybody)

[2021-10-13 01:34] mvines commented on #1844
All the Solana software is open source: Apache 2.0 / MIT licensed.  How do you prioritize more than 100%?

[2021-10-13 02:36] mvines commented on #1844
It's hard to see how "sigh Solana sucks at open source :/" could be considered to be constructive.

I fully agree that there needs to be major improvements to how the source code for programs **written on Solana** can be viewed through explorers. I've wanted that feature for quite a while, we've not gotten to it yet and/or perhaps a community-driven solution will emerge first.

Your ideas are seem

[2021-10-13 16:19] t-nelson commented on #1983
As mentioned above, the token `supply` is implemented as a `u64`.  It can represent at most `18,446,744,073,709,551,615` base units, so if you want 100B total supply, the largest `decimals` you can use is `8`

[2021-10-15 09:41] ozyman42 opened #2514 "What Account to use for SPL Token Transfer After Recipient's Derived Token Address Ownership Transferred"
#### Problem

I'm noticing that with many NFT marketplaces, they transfer ownership of the NFT by having owners transfer control of the SPL token account, rather than creating a token account for the recipient based on the derived address. For example, this token account is being transferred between owners https://explorer.solana.com/address/BW766zFWF5PRr5LssdJv2zoCkUAwvELwaLswho4ZMPmB
(see transa

[2021-10-15 09:52] AlexLeung commented on #2497
Answered here https://stackoverflow.com/questions/68236211/how-to-transfer-custom-token-by-solana-web3-js/69522224#69522224

Instead of using

[code]

use this instead

[code]

Also you can transfer the authority of

[2021-10-15 09:58] #2497 closed

[2021-10-15 11:44] yelouafi opened #2515 "Wrong owner address of a Token account?"
I wrote the following function to get the current owners of an NFT token

[code]

When I call ie.g. with `mint = "5Nt1LMqbdJcJxxTAVgrB2ToND4dbcirBNfqSiWvtWFH7"` I get the following result

[code]

I can see in [Solana explorer](https://explorer.solana.com/address/DGma6jkfapL9S1fA7KXqdbq8CQ3jexMQQohcEePy49zg?cluster=devnet) for example that the owner of `DGma6jkfapL9S1fA7KXqdbq8CQ3jexMQQohcEePy49zg

[2021-10-15 11:47] tevdoradze opened #2516 "token-js: Allow a custom mint address for create-mint"
At Aurory we are going to use a custom mint address for our token (generated through the solana grind command), I think this is quite common as other projects (like star atlas etc..) are also using a vanity address.

Currently, it's not possible to directly submit a custom key pair through the cli or the JS mintToken function.

To make it possible:

- Add an optional argument to the create-token c

[2021-10-15 17:25] yushizhao opened #2517 "Retrieve SPL tokens from an associated token account which associated to an SPL token account"
I am not sure whether I am the first one to meet this issue...
The story is, I requested a token transfer to my Solana USDC SPL token account from an exchange. Instead of directly making a token transfer, this exchange created an associated token account for the Solana USDC SPL token account, and then transfer to that associated token account.
Then, we have a nested ownership of SPL tokens: associ

[2021-10-15 18:58] AlexLeung commented on #2515
Try this instead

[code]

[2021-10-16 14:39] yelouafi commented on #2515
It woks! Thanks!

[2021-10-16 14:39] #2515 closed

[2021-10-18 15:57] gotope opened #2518 "cargo build-bpf failed in the token-swap"
localhost:~/solana-program-library/token-swap/program$ cargo build-bpf

BPF SDK: /home/enn/solana/bin/sdk/bpf

Running: rustup toolchain list -v               Running: cargo +bpf build --target bpfel-unknown-unknown --release

error: command failed: 'cargo': No such file or directory (os error 2)

[2021-10-19 00:47] gotope commented on #2518
$ cargo --version
cargo 1.55.0 (32da73ab1 2021-08-23)

$ rustup toolchain list -v
stable-aarch64-unknown-linux-gnu (default)     /home/enn/.rustup/toolchains/stable-aarch64-unknown-linux-gnu
bpf     /home/enn/projects/rustprojects/solana/bin/sdk/bpf/dependencies/bpf-tools/rust
1.52.1-aarch64-unknown-linux-gnu        /home/enn/.rustup/toolchains/1.52.1-aarch64-unknown-linux-gnu

[2021-10-20 06:08] gotope commented on #2518
maybe I know the issue, not solved yet.

my liunx is on ARM cpu, so its aarch64.
cargo build-bpf, will install solana's  modified bpf-tools,
the installed cargo and rustc is x86-arch, obviously it can not be executed.

[2021-10-20 14:24] israelidanny opened #2534 "Migrate to @solana/buffer-layout"
The `buffer-layout` package used here as a dependency lacks proper typing, which causes issues with downstream libraries depending on the token program TypeScript code.

Solana Labs maintains a buffer-layout implementation with types already:
https://github.com/solana-labs/buffer-layout

I suggest to change the dependency to that implementation.

[2021-10-21 13:26] aster2709 opened #2536 "the `mintTo` function doesn't take large numbers well"
example:
`token.mintTo(something,something,something,1000000000000000000000)` this very large number fails.  reducing to about `1000000000` works
error message: `Assertion failed` I dug into the stack traces, and it occurs on line 1748 `token.js` file. I think this sort of number is too large javascript can handle so how should I pass it, since it doesn't take a string input!

I need to pass such

[2021-10-21 18:22] CriesofCarrots commented on #2536
`1000000000000000000000 > 18446744073709551615` so it won't fit in a u64 any which way

[2021-10-22 02:19] aster2709 commented on #2536
didn't work: `invalid buffer length`
![image](https://user-images.githubusercontent.com/39130640/138382535-44cca7e5-4b0c-4be5-ad8c-a5c7b3805628.png)

[2021-10-23 09:06] saman-pasha opened #2540 "spl-token-2022 dependency"
I save the spl-token-2022 program folder in my rust workspace and add a dependency to in
[code]
when I build the workspace `cargo build` build fails with
[code]

[2021-10-23 10:53] #2540 closed, assigned to nobody

[2021-10-23 15:56] #2536 closed, assigned to nobody

[2021-10-23 21:06] Yuriy-Ihor opened #2541 "Get balance of custom token in a wallet"
Hello, I've created custom token. How can I get an amount of that token in a certain wallet? (on chain side)
p.s.: I am new in solana so sorry for a newbie question)

[2021-10-25 20:34] #2541 closed, assigned to nobody

[2021-10-26 09:28] cryptoboole opened #2547 "[broken] this RPC method unavailable for key"
This, and other iterations of it with different wallets:

[Finding all token accounts for a wallet](https://spl.solana.com/token#finding-all-token-accounts-for-a-wallet)
[code]
Results in
`
{"jsonrpc":"2.0","error":{"code":-32010,"message":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA excluded from account secondary indexes; this RPC method unavailable for key"},"id":1}
`

I can't find any notifica

[2021-10-28 01:35] adbehzad110 opened #2551 "SWAP_PROGRAM_OWNER_FEE_ADDRESS="HfoTxFR1Tm6kGmWgYWD6J7YHVy1UwqSULUGVLXkJqaKN" npm run start-with-test-validator"
SWAP_PROGRAM_OWNER_FEE_ADDRESS="HfoTxFR1Tm6kGmWgYWD6J7YHVy1UwqSULUGVLXkJqaKN" npm run start-with-test-validator

[2021-10-28 01:37] #2551 closed, assigned to nobody

[2021-10-29 19:54] tevdoradze commented on #2516
@mvines

Do you think it makes sense to add an optional argument to JS [createMint](https://github.com/solana-labs/solana-program-library/blob/aef1e239b37f5547c2c86390f204da41b0965adb/token/js/client/token.js#L384) function to be able to also use a custom mint address from here?

[2021-10-29 19:59] mvines commented on #2516
Yep that seems fine to me!

[2021-10-29 22:31] jordansexton commented on #2516
Might make sense to briefly mention this is being done now in https://github.com/solana-labs/solana-program-library/pull/2539:

https://github.com/solana-labs/solana-program-library/blob/25111c64207c6f684e95990de32c787550f684ba/token/ts/src/actions/createMint.ts#L29-L39

[2021-11-01 05:21] Moserious commented on #2517
Did you resolve this matter and if so how?

[2021-11-01 14:14] #1865 closed

[2021-11-01 21:18] vsmelov commented on #966
Is the issue still open?
Why don't you like https://github.com/Bonfida/token-vesting ?
It looks like exactly what you want.

[2021-11-01 21:32] imprfekt commented on #966
Better yet https://github.com/StreamFlow-finance/timelock

with underlying crate

https://github.com/StreamFlow-finance/timelock-crate

[2021-11-04 10:31] yushizhao commented on #2517
@Moserious Are you also in the same situation? No. I didn't solve it. I think it need to modify the SPL token program to solve it.

[2021-11-04 21:54] Moserious commented on #2517
Yes, same situation I think. I was using FTX app and when I was transferring USDC to another exchange, the FTX prompted me to enter an USDC or SOL address. I entered a SOL address, not sure why I chose to do that, but now the USDC is "stuck" so to speak via the Associated Token Account Program. The "owner" of the USDC is reflected as my Solana account address, but I'm not sure as of yet how to sen

[2021-11-06 16:25] arcticmatt opened #2563 "token-js: `u64` should implement its own constructor"
Try this code:

[code]

Logging `u.toBuffer` shows a function. But logging `u2.toBuffer` shows undefined, even though `toBuffer` is defined right here! https://github.com/solana-labs/solana-program-library/blob/master/token/js/client/token.js#L54-L65

Why? It's because of `BN`'s constructor: https://github.com/indutny/bn.js/blob/master/lib/bn.js#L21-L24

This behavior is very misleading in TypeScr

[2021-11-08 08:46] m-reka opened #2564 "stake-pool JS (getStakePoolAccounts) - RangeError: offset is not uint"
Hi,

When trying to read the stake pool accounts from the index example I have the following exception:

[code]

This happen when trying to `readUInt8` the account data on index.ts:

[code]

However IT tests are running correctly. Also before calling the `getStakePoolAccounts` I make sure to add the borsh schema as follow:

`schema.addStakePoolSchema(SOLANA_SCHEMA);`

[2021-11-08 08:48] m-reka commented on #2564
@joncinque can you please give it a look?

[2021-11-09 08:23] yushizhao commented on #2517
@Moserious I think, if the situation is:

Your NATIVE sol (not wrapped sol) account -> own the ATA USDC account.

Then you are good, you can transfer the token! Well, as long as you hold the NATIVE sol account's private key.
Or, if you mean the private key is hold by the another exchange. You can try ask them, they should be able to transfer the USDC with the private key!

Hope everything goes wel

[2021-11-09 08:54] Maja-GH opened #2565 "Support"
Support delegate

[2021-11-09 18:14] CriesofCarrots commented on #2565
Sorry, I don't understand your issue. Feel free to reopen with a full description of the problem and desired action.

[2021-11-09 18:14] #2565 closed

[2021-11-11 19:53] joncinque commented on #2564
The JS schema definitions for the stake pool are unused and out of date unfortunately.  I'll be spending time on stake pools js library within the next few weeks, but in the meantime, this will fail.  PRs are very appreciated!

[2021-11-12 09:42] sandeepk-e opened #2571 "Memo support for js"
I was wondering if there is support to add memo through web3 APIs.( --with-memo equivalent flag in cli )
I could not find anything for node. The note [here](https://github.com/solana-labs/solana-program-library/pull/25) says js utilities to come separately. Any help regarding the same would be appreciated.

Thanks.

[2021-11-12 10:22] Lichtso opened #2572 "Rework builds which were excluded and left behind"
The following crates are excluded from the workspace so their build targets are not covered by any CI pipeline.
They seem to be unmaintained as they are unbuildable right now and the last commit was a year ago in each.

See `Cargo.toml`:
[code]

[2021-11-14 17:49] jordansexton commented on #2571
Is this what you're looking for?

[code]

[2021-11-15 15:18] sandeepk-e commented on #2571
Yes, I forgot to update here. I found [this](https://gist.github.com/fukaoi/61a29aac0717fce4219c86165780efcd) on the same day.

Thanks for help @jordansexton .

[2021-11-15 15:18] #2571 closed

[2021-11-16 20:53] dahifi commented on #2235
oh ABSOLUTELY, these should be included in the repos and readmes!

[2021-11-16 21:48] dahifi opened #2587 "spl-token-swap TokenSwap::createTokenSwap irregularities between repo and npm"
So I have successfully run the js/cli/token-swap-test.ts via the start-with-test-validator and start using an anchor localnet. I copy the test functions to my anchor workspace and update all the imports to reference the @solana/spl-token-swap module. Running it I get
[code]

I trace the reference to the npm version `createTokenSwap()` which shows the following signature in index.d.ts:
[code]
while

[2021-11-16 22:11] dahifi commented on #2587
Discord user lisenmayben — Today at 5:08 PM
thanks for filing an issue to be looked at. the token program appears to be getting an update for TS - en route. not sure on an eta.

[2021-11-16 23:13] t-nelson commented on #2517
Hi!  We don't use Github for support requests.  Please join us in #wallet-support on https://solana.com/discord instead!

[2021-11-16 23:13] #2517 closed

[2021-11-17 06:50] yushizhao opened #2588 "Let the SPL token program accept signatures from the owner of the owner"
The original issue has been closed.
https://github.com/solana-labs/solana-program-library/issues/2517
Although part of the conversation there may related to wallet support, but the original idea is not.

Recap:
associated token account <=(own) program generated account <=(own) the actural owner,

For some reasons, that ATA is created not for the actural owner, but for the owner's token account.

I

[2021-11-17 06:51] yushizhao commented on #2588
#2248 is a similar issue. #1371 is also related.

[2021-11-17 14:14] joncinque commented on #2587
That's exactly right, we just haven't uploaded the new package to npm yet.  We can get a release together soon if you need it though!

[2021-11-17 16:37] t-nelson commented on #2588
The proposal adds unnecessary complexity and is likely a security foot gun.  I'm generally opposed

[2021-11-18 15:09] israelidanny commented on #2534
@jstarry alright. I'm picking this up then. Will submit a PR for your review ASAP.

[2021-11-18 15:20] jstarry commented on #2534
Awesome, thanks @israelidanny!

[2021-11-19 13:00] yushizhao commented on #2588
@t-nelson Thank you for reopen this issue! Well, I understand. But people are losing real money for this. It is also appreciated that we do something to prevent things like this happen again in the future.

[2021-11-19 16:57] alexbitspawn commented on #2588
@t-nelson Is it possible to add a redeem authority type to the spl-token authorize fuctions, and a redeem function for token program so that the authority of the token address will have the right to redeem the spl token mistakenly sent to token address associated account(the redeem can specify recipient address or directly to authority address doesn't matter. It's not too complicated and won't hav

[2021-11-19 19:37] paul-schaaf opened #2592 "[spl-token] provide more useful output when using create-token with the output option"
currently only the signature is provided. it would be helpful if it also output the created token address and its decimals

[2021-11-19 20:10] paul-schaaf commented on #2592
if you think this is a good idea, I can implement this too. just one question, I need to add another struct that includes the Cli Signature and also the token information. Should I add this struct in the cli-output crate or the spl-token cli crate? It's a cli output but only related to tokens

[2021-11-19 20:15] CriesofCarrots commented on #2592
I'm on board to add this, since we're printing that information for Display. Thanks!
It should go in spl-token-cli. We've got some other spl-token cli-output structs here: https://github.com/solana-labs/solana-program-library/blob/master/token/cli/src/output.rs

[2021-11-19 20:47] paul-schaaf commented on #2592
@CriesofCarrots cool thanks

This actually requires a little bit of reengineering because by the time the signature is added in the `and_then` call, the token information is lost. Ofc output could print 2 json objects but it would be much nicer to just have one with all the info.

So what I can do is I can have `and_then` accept a Option<Box<dyn T>> where T implements all the serialisation stuff a

[2021-11-19 20:57] CriesofCarrots commented on #2592
Oh yeah, I forgot that script is way too clever for it's own good 😂
Maybe `and_then` accepts a struct (instead of tuple) something like this:
[code]
where extra_info (but better name) takes a CliOutput struct that impls a trait with `add_signature` as you said?

[2021-11-19 21:29] paul-schaaf commented on #2592
it would be have to be `extra_info: Option<Box<dyn T>>` tho wouldnt it? create-token has different outputs then create-account so they'd be different Ts and extra_info has to capture all possible Ts. On top of that not all functions might have extra_info to return.

[2021-11-19 21:31] paul-schaaf commented on #2592
well I suppose all functions could at least return the address in the output in addition to the signature so then we could drop the Option

[2021-11-19 21:54] CriesofCarrots commented on #2592
I don't *think* dynamic dispatch would be necessary, because you could declare the specific type when calling each `command_` method that returns `CommandResult`.
CommandResult would become something like:
[code]

But I'd have to play with it to be sure.

[2021-11-19 22:19] paul-schaaf commented on #2592
match arms need to return the same type (using () and CliMint as T for extra_info)

[code]

[2021-11-19 22:25] CriesofCarrots commented on #2592
Can you push and link your branch, pretty please?

[2021-11-19 22:32] paul-schaaf commented on #2592
done

[2021-11-19 22:49] CriesofCarrots commented on #2592
Thank you!! Dang, I concede. The fact that we populate the extra_info types in the `command_` functions means my approach won't work.
Dynamic dispatch it is. `Box<dyn T>` (Option, if you like) doesn't seem to horrible to me.

[2021-11-19 23:50] paul-schaaf commented on #2592
actually that doesnt work either cause T would require `Serialize` `trait T:Serialize {}` but `Serialize` is not object safe so cannot be used in a trait object...

so enum it is?
[code]

other ideas:
- use erased_serde
- break this architecture up completely and stop trying to have everything be done in the .and_then and let the individual functions handle their output
- serialize earlier. the ou

[2021-11-19 23:58] CriesofCarrots commented on #2592
Oh right 🤕 An enum is a fine, fast option to me, since most of the commands will be able to use the same variant.

That said, if you are up for something more involved, I like bullet #2. I've never loved having everything in the `and_then`; keeps making hoops for us to jump through. Could we put together a stand-alone helper function that includes all transaction-handling stuff from that closure a

[2021-11-20 00:17] paul-schaaf commented on #2592
yea I can do 2. I'd have time for that after the weekend if that is ok

[2021-11-20 22:50] oggreo opened #2594 "How to connect with browser wallet to authenticate"
[code]

I want to transfer a token that I own to another address programatically.
How can I connect with the browser extension to authenticate instead of passing a keypair of pub and private key?

Thanks!

[2021-11-22 00:59] paul-schaaf commented on #2592
it's mostly done. each command now handles it own output and the `handle_tx` function does the tx processing for all functions that had previously used the `and_then` closure

I've only added special output handling for create-token for now. I think it would be better to merge this asap to because it changes the architecture so new issues build on the new architecture and avoid merge conflicts. th

[2021-11-22 11:49] joncinque commented on #2594
In that case, your best bet is to use the solana wallet-adapter library: https://github.com/solana-labs/wallet-adapter/

Separately, we don't do tech support over GitHub, so please come by to the #developer-support channel on the Solana Tech Discord to get help more more quickly: https://discord.gg/HhwBBs4D

[2021-11-22 11:49] #2594 closed

[2021-11-22 11:54] joncinque commented on #2572
`token/perf-monitor` was fixed up in https://github.com/solana-labs/solana-program-library/pull/2586 and most likely we'll need to retire the themis parts, since they are impossible to build against the Solana 1.8.x sdk.

[2021-11-22 12:03] joncinque commented on #1997
Looks like this was fixed soon after, closing

[2021-11-22 12:15] joncinque commented on #2235
Sorry for the very late response here.  We can definitely get the first two integrated in the SPL!  I'll leave jordan to comment on the lending diagrams, but the swap diagrams are certainly worthy of integration in the docs.  They're also a lovely complement to the overall diagram provided in https://github.com/solana-labs/solana-program-library/pull/2579 -- could you add a pull request with all o

[2021-11-22 13:25] oggreo commented on #2594
Thank you for the reply! Will check the library and the discord channel

[2021-11-22 14:12] joncinque commented on #764
I think this is done now, since we use `ci/rust-version.sh` all over the place.  Is this good to close?

[2021-11-22 14:16] joncinque commented on #2061
Closing, I think these bugs were fixed up

[2021-11-22 14:16] #2061 closed

[2021-11-22 16:47] CriesofCarrots commented on #764
Yep! Looks like it.

[2021-11-22 16:47] #764 closed

[2021-11-22 20:38] t-nelson commented on #2588
You're asking us to risk introducing a bug that effects all tokens for those lost due to a mistake.  That seems unreasonable.  I'm sorry for you loss, but please be careful.  Fees are cheap, always send a test transaction

[2021-11-23 22:25] wills-dtb opened #2595 "token README: folder hierachy `token/program/js` no longer exist"
The REAMDE in `token/js` states that the subdirectory `program` exists but it doesn't.

[2021-11-23 22:31] wills-dtb opened #2596 "token README: `cargo build-bpf` inside `associated-token-account/program` returns error: no such subcommand"
Running `cargo build-bpf` inside `associated-token-account/program` returns `error: no such subcommand` so the docs need updating if this no longer is in use.

[2021-11-24 01:38] #2596 closed

[2021-11-24 01:42] wills-dtb commented on #2596
Some paths didn't save to $PATH correctly. I fixed that and this ended up being fine.

[2021-11-24 08:48] yushizhao commented on #2588
Hi @t-nelson , before we look into solutions whether they are risky or not, how about we simply not allow creating ATA for accounts that are aleady token accounts? For example, by checking mint address?

[2021-11-24 08:55] yushizhao commented on #2588
@alexbitspawn Hi, that is inspiring.  A redeem authority is good to have. Maybe it can close the old dead ATA and mint the same amount of tokens into a new healthy ATA owned by the actural owner.

[2021-11-24 14:58] petva opened #2597 "problem with offline signature for token transfer"
Faced with the problem it is necessary to transfer the token from one user to another for the fee of the receiving user. One way is to create an offline transaction by the user and call it by the receiving user. With the translation of SOL, I did everything, but with tokens it does not work in any way.

Preparation:
file user.json
`[241,225,43,156,175,192,111,231,247,139,134,189,175,90,238,176,156

[2021-11-24 15:26] t-nelson commented on #2597
Hi!  We don't use Github for support requests.  Please join us in #wallet-support on https://solana.com/discord

[2021-11-24 15:26] #2597 closed

[2021-11-24 18:30] paul-schaaf opened #2598 "[spl-token] add enum for cli command names"
problem: currently, all cli commands use strings like "create-token" which are hardcoded at different places. difficult to maintain

fix: introduce command name enum that can be turned into string

cc: @CriesofCarrots

[2021-11-24 18:31] paul-schaaf opened #2599 "[spl-token] gc command should output a single json objets instead of line separated json object when run with --output json"
cc: @CriesofCarrots

[2021-11-24 19:08] #2592 closed

[2021-12-01 15:25] swapnali-techverito opened #2605 "Is there any way from which we can fetch specific nfts from wallet?"
Following command does return all nfts:
_spl-token accounts --output json_

Is there any way we can filter nfts?

[2021-12-01 16:07] enzoampil commented on #2587
Thanks for bringing this up @dahifi . I was having issues with this exact method (`createTokenSwap`) , and only then realized it was a `nonce` parameter discrepancy that caused the issue.

[2021-12-01 20:02] t-nelson commented on #2605
Hi! We don't use Github for support.  Join us on https://solana.com/discord instead

[2021-12-01 20:02] #2605 closed

[2021-12-01 20:31] #2572 closed

[2021-12-03 23:22] jordansexton commented on #1869
Fixed by #1883

[2021-12-03 23:22] #1869 closed

[2021-12-04 15:41] zebiiii opened #2617 "[spl-token] send token transaction while using wallet connection"
Hi, I  want to send a token from one wallet to another using web3.js and spl-token. To send it I have to create an object named Token, one of the parameters of the constructor of Token() is payer: web3.Signer.

[code]

I get the information from the user's wallet using @solana/wallet-adapter-wallets. I know that web3.Signer is created from a private key, which cannot be obtained from a wallet for

[2021-12-04 20:23] Casselos commented on #1869
Jordansexton boa tarde ,
Como faço para conversar com você ?

[2021-12-04 20:24] Casselos commented on #1869
Você faz parte da equipe solana Labs ?

[2021-12-06 06:32] Poonamsingh080 opened #2619 "(node:8946) UnhandledPromiseRejectionWarning: Error: failed to get token accounts owned by account 3wyBGP9XptSN24oSFHwn6aiFEXGuN3NvU3FgQ3vMCrm5: Invalid param: could not find mint"
import SolanaWeb3 from '@solana/web3.js';
import Sereum from '@project-serum/serum';
 //import { Market } from '@project-serum/serum';
 //import  TOKEN_PROGRAM_ID  from '@solana/spl-token';
 //const SPL_ASSOCIATED_TOKEN_ACCOUNT = new SolanaWeb3.PublicKey(
  //ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL',
//);

//import * as splToken from '@solana/spl-token';
let connection = new SolanaWeb3.Connec

[2021-12-06 22:15] t-nelson commented on #2619
Hi! We don't use Github for support. Please join us in #developer-support on https://solana.com/discord!

[2021-12-06 22:15] #2619 closed

[2021-12-06 22:54] t-nelson commented on #2617
Hi!  We don't use Github for support.  Please join us in #developer-support on https://discord.com/solana instead!

[2021-12-06 22:54] #2617 closed

[2021-12-07 01:11] rkbling opened #2621 "Multisig mint with offline signing does not work"
#### Problem
I am trying to setup multisig minting as per https://spl.solana.com/token#example-offline-signing-with-multisig. However, following the steps exactly leads to an eventual `presigner error` upon executing the final `mint` call with the `--signer <...>` entries added.

On the other hand, specifying all the keys immediately seems to work well, as per:
[code]

#### Proposed Solution

A si

[2021-12-07 01:49] Arrowana commented on #2588
You have to understand that if the wallet is implemented properly it should check if the owner is off curve, thus preventing such mistake, or at least properly warning that something isn't right. Phantom wallet has this feature. It seems to be something easier to fix by fundamental user protections rather than convolution downstream.

[2021-12-07 05:27] rkbling commented on #2621
It turns out that I had specified `--mint-decimals 8` instead of `--mint-decimals 9`. Fixing this works. Sorry for the spam.

[2021-12-07 05:27] #2621 closed

[2021-12-08 07:51] TransFormes opened #2623 "I want to use @solana/spl-name-service to resolve the SOL domain name"
Is there an example for how to use @solana/spl-name-service

[2021-12-08 08:15] #2623 closed

[2021-12-09 15:27] joncinque commented on #2534
Reopening since swap and lending still use the old buffer-layout

[2021-12-11 20:49] allanperlee commented on #994
Hi jstarry,

Is the obligation account initialized in `process_init_reserve`?

[2021-12-11 21:13] jordansexton commented on #994
It's initialized in `process_init_obligation` 🙂

[2021-12-11 22:04] allanperlee commented on #994
Thanks, is that on line 671, within the `obligation` struct?

[2021-12-11 22:08] jordansexton commented on #994
https://github.com/solana-labs/solana-program-library/blob/70973850d3105c6765b42a35d1a67b36d0684c9a/token-lending/program/src/processor.rs#L637

[2021-12-12 04:11] pierorolando1 opened #2631 "error: could not compile `libsecp256k1`"
![image](https://user-images.githubusercontent.com/72224217/145699904-1fe1cee6-598d-44c9-a9f3-feef980b9121.png)

##### I get this error when I run `cargo install spl-token-cli`, help

[2021-12-13 13:49] joncinque commented on #2631
Hi there! We don't use GitHub for support, so you can instead join our discord and check out the #developer-support channel https://discord.gg/9xkMfbfu

There isn't much information in your screenshot, but issues like this often are due to an old version of Rust.  Try upgrading to the latest stable, 1.57 currently, and try again.

[2021-12-13 13:49] #2631 closed

[2021-12-13 15:12] israelidanny commented on #2534
@joncinque @jstarry I added this PR:
https://github.com/solana-labs/solana-program-library/pull/2634

It has a couple of caveats (generics missing in current typing e.t.c) but pushes us one step closer to making this tidy

[2021-12-14 01:23] grglzrv commented on #2631
I have the same issue
![image](https://user-images.githubusercontent.com/19932357/145915317-1f70758f-3dc1-4dff-a2d7-e82bfe82a3b7.png)
Installed Solana tools 9.0 and rust 1.57

@pierorolando1 could you please share how you solve this issue, thnaks.

[2021-12-14 02:13] pierorolando1 commented on #2631
@grglzrv I was trying to do that in a Digital Ocean Cluster, I don't know why but it was not working, later, I try to do the same thing in my linux personal computer (Arch Linux), and works, I recommend u to tried the same thing in a virtual box or in docker container

[2021-12-14 10:06] grglzrv commented on #2631
I used AWS ec2 VM ubuntu version 21.04 free tier, @joncinque could you please check out this issue, the problem is not resolved yet. Thanks.

[2021-12-14 10:11] irishdan commented on #2631
Same for me. also on digitalocean Ubuntu 20

[2021-12-14 15:52] joncinque commented on #2631
Looks to be a RAM issue, based on an issue in their repo: https://github.com/paritytech/libsecp256k1/issues/94

I tried this again on a blank Docker container running Ubuntu 20.04 and was able to compile everything, which leads me to believe this issue.

[2021-12-14 16:39] grglzrv commented on #2631
@joncinque I don't think that is the actual issue, you may use VM by Linode with 1Gb RAM with Ubuntu 21.10 and you gonna see that everything will be compiled correctly,  Your test with docker container, the image uses your kernel, etc., you may test it with real VM with Ubuntu 20.04 and Ubuntu 21.10 with 1GB RAM then you gonna see that the compilation will pass.

[2021-12-14 18:56] joncinque commented on #2631
@grglzrv Sorry, I'm still not able to reproduce this anywhere.  I just tried on a raspberry pi and it worked there too (albeit after a long wait).  Either way, until there's something concrete, let's take this discussion to discord, where it will be much easier to respond

[2021-12-14 18:59] grglzrv commented on #2631
@joncinque I have tried on raspberry pi 4gb with docker image - ubuntu:21.10 but i got failed to install solana tools,  i was not able to installed it on rasp pi, could you please share your steps how you install it.

[2021-12-14 19:05] grglzrv commented on #2631
[code]

[2021-12-14 19:42] joncinque commented on #2631
You don't need the Solana tools to install the CLI, just Rust. So my steps were:
[code]
This was a machine with `curl`, `pkg-config`, and `libudev-dev`.

Separately, if you're on a Raspberry Pi, you'll have to compile the CLI yourself from https://github.com/solana-labs/solana/tree/master/cli, since we don't provide the tools for arm yet.  That's where that most recent failure is from.

[2021-12-14 19:56] grglzrv commented on #2631
I gonna try to compile Solana tools on rasp pi 4 now.

I just installed everything with success but by the binary files.

[code]

But when i set this
`solana config set --url http://api.devnet.solana.com`

I got 0 SOL

If I set:
`solana config set --url  https://api.mainnet-beta.solana.com`
I got my SOL

What's the diff between those 2 URLs?

[2021-12-14 19:59] joncinque commented on #2631
I'm going to lock this issue now since it's getting off-topic, please come to Discord and chat

[2021-12-15 07:14] Poonamsingh080 opened #2638 "Adding stake account EkMrbpzPd4Pthej6GqvwDDUFCPho9nnKGqEf9cHV4cHQ, delegated to 78tfNe3G4YDq9Hk8vcqzwhSoU3gK5DoAATXBnx4Qjvv3 Update not required RPC response error -32002: Transaction simulation failed: Error processing Instruction 0: incorrect program id for instruction [10 log messages]"

[2021-12-15 07:25] #2638 closed

[2021-12-15 09:17] vandai2995 opened #2639 "Custom Token Program"
Dear Solana Experts,

I have a question about the custom Token Program.

- When I create the token using the built-in SPL Token Program (TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA), everything is well.
- When I use my own Token Program (2hsFyTmBgXhLTX2qTvgCxCQusXboS7XsGRBAzW5gpUkT) to create a new token, **the result is just an account, not exactly a mint account.**

Like the figure below:
Use th

[2021-12-15 15:45] joncinque commented on #2639
Hi there, GitHub isn't ideal for support, so please join us on Discord https://discord.gg/2AXHj5dJ

To answer your question quickly, the ecosystem doesn't currently support multiple token programs, just the one at `Tokenkeg...`.  We started a proposal to support multiple token programs at https://github.com/solana-labs/solana/pull/15927, but the work has been sidelined by other priorities.  You ca

[2021-12-15 15:45] #2639 closed

[2021-12-15 17:53] ADBalici opened #2640 "Associated token account owner is changeable"
Should the owner of an associated token account be changeable by a call to setAuthority in the SPL Token Program? Otherwise why have the associated token account program in the first place?

I believe it breaks the pattern of deterministically finding a token account given a mint key and a "wallet", and it forces developers to endlessly create multiple token accounts.

Can any check be added to pr

[2021-12-15 17:57] RobertoMalutan commented on #2640
👍

[2021-12-15 18:02] flashjpr commented on #2640
This would make so much sense to implement

[2021-12-15 18:10] ADBalici commented on #2640
All of them basically allow for this. At least the major ones I know of, such as Phantom.

[2021-12-15 19:08] mvines commented on #2640
I don't see where Phantom allows me to transfer my ATA to another user?  Can you show me the workflow there please, sorry for being dense

[2021-12-15 19:17] ADBalici commented on #2640
Sure, I would be happy to explain the problem.

I've discovered this problem in the context of listing NFTs for sale on secondary marketplaces. For example, this is a transaction which was generated after listing an item.

https://explorer.solana.com/tx/2hngxBJ2JpwZDQvkXdF24LbwkJMhJE9gk74E8DfsHWx21AMTcV7NX6iq5TnBfg8SzziMLrktuEw7jjnhsLSDnRea

The token is _3jEHeB1kLYNiTAg1rtP9pLEunSjewxiksmXkrM7bFM

[2021-12-15 19:18] ADBalici commented on #2640
Now I realise that my original phrase "All of them basically allow for this" is a bit misleading. Should have been "All of them basically allow for this, indirectly" :D

[2021-12-15 19:19] mvines commented on #2640
Oh I see.  You approved a transaction in Phantom from a shady NTF site and they sold your ATA

[2021-12-15 19:21] mvines commented on #2640
@joncinque / @CriesofCarrots  - we could add a token extension that prohibits changing the account owner authority that the new ATA program sets. That'd prevent this kind of ATA stealing attack going forward at least

[2021-12-15 19:21] ADBalici commented on #2640
If by shady you mean one of the biggest NFT marketplaces, then yes xD. I was actually aware of the issue beforehand. The transaction was a purposely made one. It didn't affect me per se, but I believe you are right: wallets should block this type of behaviour, as it breaks the ecosystem and other developers are forced to take this into account.

[2021-12-15 19:24] mvines commented on #2640
Size and shadiness can be independent variables :)

Yeah, seems like we can do something here to protect ATAs in the future

[2021-12-15 19:30] mvines commented on #2640
@bartosz-lipinski - would making ATAs non-transferable break NTFs somehow?

[2021-12-15 20:55] joncinque commented on #2640
We could easily add this as default behavior -- if the token account's address is an ATA, forbid owner authority transfer.  Are there any concerns with that? It's an antipattern to change ATA ownership, so seems like it's OK to break them

[2021-12-15 21:00] mvines commented on #2640
My only hesitation is I don’t know enough about how Metaplex has been cobbled together, that change might break the NTF world

[2021-12-15 21:07] CriesofCarrots commented on #2640
There was one wallet + exchange that I know of that was explicitly exploring changing ATA ownership as a way to give users direct transfer control over their own tokens, while retaining exchange control over the main wallet/deposit address. However, I don't think they ever landed on a solid design.
So I'm leaning toward feeling okay about this.

If it's an extension, it'd be opt-in, yes? By whom?

[2021-12-15 22:20] joncinque commented on #2640
If it's opt-in, and the ATA opts in, then we'll break all future offenders instead of all total offenders.  Is that the middle-ground we're looking for?

[2021-12-15 22:59] CriesofCarrots commented on #2640
Seems reasonable to me, but I don't know much about the Metaplex impl either.

[2021-12-15 23:57] mvines commented on #2640
Yep that's what I was thinking.  This particular extension doesn't even need any data, just the tag to indicate that "bit" is set.  We've clearly documented since day 1 that ATA ownership must not be transferred, so I don't feel too sad about breaking misusers: https://spl.solana.com/token#associated-token-account-ownership

[2021-12-16 02:44] askibin commented on #2640
I agree it is bad if ATA is owned by someone else. Some programs may transfer tokens to an ATA without checking the owner if main account is provided as a target. Does spl-token transfer CLI command checks the owner btw?
On the other hand, if ATA is being created, you can still assign the wrong owner to it, so the inability to change the owner will worsen things in such cases. Like in the case abo

[2021-12-16 03:05] Rafinix opened #2643 "spl-token create-token No such file or directory (os error 2)"

[2021-12-16 03:09] jordansexton commented on #2643
Sounds like you need to install the spl-token CLI binary. Please direct questions to the developer support channel in Solana's Discord!

[2021-12-16 03:09] #2643 closed

[2021-12-16 04:03] Rafinix opened #2644 "spl-token create-token No such file or directory (os error 2)"
When I execute eh spl-token create-token code it gives me the error 2
I do not know what I the problem, because I have created two tokens already without a problem, but now it would not let me.
I tried to do it  over and over again,but does not work,
Here is what I do:
cd desktop
mkdir moon
solana-keygen new --outfile moon/my-keypair.json  (I have my pubkey at this point )
solana airdrop 1 <RECIPI

[2021-12-16 06:39] CriesofCarrots commented on #2640
You can only do that with the SetAuthority instruction, though. The ATA program will only ever initialize an account with the main wallet address as owner.

[2021-12-16 08:10] ADBalici commented on #2640
This is quite a big potential attack vector: assigning the PDA of a contract ownership of an ATA (or even making it a delegate signer via the approve() function of the SPL token account). Somebody bakes that in a candy machine or a contract, and they can easily start stealing tokens (incl. stuff like USDC) from other people (especially that wallets don’t block/show this type of transactions, and m

[2021-12-16 17:07] askibin commented on #2640
oh, that's good, for some reason I thought one could just create ATA with system_instruction::create_account and then call spl_token::instruction::initialize_account with random owner. But if ATA is a PDA of associated token program that obviously won't work.

[2021-12-16 21:13] MaceoCalico opened #2646 "Error during cargo install spl-token-cli"
error: could not compile `libsecp256k1`

Caused by:
  process didn't exit successfully: `rustc --crate-name libsecp256k1 --edition=2018 /root/.cargo/registry/src/github.com-1ecc6299db9ec823/libsecp256k1-0.5.0/src/lib.rs --error-format=json --json=diagnostic-rendered-ansi,artifacts --crate-type lib --emit=dep-info,metadata,link -C opt-level=3 -C embed-bitcode=no --cfg 'feature="default"' --cfg 'fea

[2021-12-16 21:44] #2646 closed

[2021-12-16 23:52] hitwill commented on #2588
I suggest merging this issue with https://github.com/solana-labs/solana-program-library/issues/2248 as it's related? (whatever the resolution is)

[2021-12-17 00:08] hitwill commented on #2588
An additional consideration is that it's not only wallets involved, but exchanges, apps, dapps, etc - although security does take precedence.

[2021-12-17 07:32] Poonamsingh080 opened #2649 "Transaction simulation failed: Attempt to load a program that does not exist SendTransactionError: failed to send transaction: Transaction simulation failed: Attempt to load a program that does not exist at Connection.sendEncodedTransaction (/home/poonam/solana-project/swap/soldex-token-swap-SC/solana-program-library/token-swap/js/node_modules/@solana/web3.js/src/connection.ts:3668:13)"
hi
i run npm run start but i am getting  issue in token swap function
kindly suggest

[2021-12-17 11:54] Poonamsingh080 opened #2650 "how to check token swap smart contract deploy on local net"

[2021-12-17 14:54] Jacob-CG commented on #2649
Hello. We don't do tech support on github. Please visit [our discord](https://solana.com/discord) and ask under #developer-support

[2021-12-17 14:54] #2649 closed

[2021-12-20 17:22] fanbyprinciple commented on #2644
The error is because it is not able to find the `new-keypair.json` file which you have replaced.

To rectify change the `solana config set --keypair ${HOME}/new-keypair.json` to `solana config set --keypair ${HOME}/my-keypair.json` and then try to run `spl-token create-token`

[2021-12-20 17:56] jordansexton commented on #2644
@fanbyprinciple thanks for answering.

@Rafinix questions like this usually get answered more quickly in the Solana Discord's #developer-support channel.

[2021-12-20 17:56] #2644 closed

[2021-12-21 20:57] wbnns opened #2656 "Adding additional open standards to drive institutional liquidity and support issuers"
Hi friends! Happy holidays to all that are celebrating! :) As 2021 draws to a close would like to propose additional features / open standards to incorporate into SPL Token, with this as an umbrella issue of sorts (please LMK if it would be better to open separate issues, just wanted to be sensitive about other people's notifications, etc. -- thought it would be good to get feedback here, first).

[2021-12-22 11:02] sushi-shi opened #2659 "[spl-token] Add support for an owner of an account to disallow transerring tokens to the said account"
## Rationale
Quite often different staking pools owning `spl-token` accounts have an internal logic dependent on how much tokens were transferred to those accounts. However, tokens can be transferred to those accounts without notifying said programs in any way, and if it isn't taken into consideration this might lead to inconsistencies inside said programs which easily can result in many kinds of

[2021-12-22 14:28] askibin commented on #2659
could you please give a concrete example when extra tokens break logic or lead to a vulnerability? there could be some state that depends on pool balance history (like average price or deposit amount), but it can still be updated next time a transaction is called.

[2021-12-22 15:18] mgild opened #2661 "Token.getAssociatedTokenAddress does not need to be `async`"

[2021-12-22 16:24] jordansexton commented on #2661
See #2539 / #2641 for the latest developments in the SPL Token bindings.

This function is still async though: https://github.com/solana-labs/solana-program-library/blob/a966bde23b3ec9871ff15520fec7773d2673a224/token/ts/src/state/mint.ts#L114

This is because it relies on https://solana-labs.github.io/solana-web3.js/classes/PublicKey.html#findProgramAddress which is async.

[2021-12-22 16:24] #2661 closed

[2021-12-22 20:06] sushi-shi commented on #2659
Imagine there were a pool in which you could stake your LP tokens to earn rewards in REW, and that for each second for each LP token you receive one REW. For it to be implemented we need to store a timestamp on when the pool was last accessed by a user.
To provide rewards a naive solution would calculate a time difference between the current time and when the pool was last accessed by a user and m

[2021-12-22 21:20] jordansexton commented on #2659
Contracts like SushiSwap's MasterChef generally solve this by assigning shares to the user based on the current state of the pool at the time of deposit. Tprevents manipulating the rewards

[2021-12-22 21:23] jordansexton commented on #2659
Sorry, accidentally closed 😅

Contracts like SushiSwap's MasterChef generally solve this by assigning shares to the user based on the current state of the pool at the time of deposit. This prevents manipulating the rewards like you're describing. LP tokens themselves are a form of these shares. Can you say more about why a program would want to rely on the token balances instead of its own domain-

[2021-12-22 22:42] askibin commented on #2659
I see now where the problem comes from. If you transfer LP tokens to an individual custody per user when they stake their tokens and use that wallet balance to determine rewards, you will indeed have a problem.

The right way is to store a state per user and keep all LP tokens staked from all users in a single custody account. If someone deposits LP tokens to it, bypassing your program, they will

[2021-12-23 08:12] sushi-shi commented on #2659
@askibin

This introduces a single point of failure where if a bug were to be found, funds of all users could be jeopardized. While keeping an account per user would mitigate damage somewhat.
Also "a state per user" most likely will closely resemble what `spl-token` does anyway. That's what I meant be re-implementing the logic again and again in OP post.

Yes, of course! This domain specific logic

[2021-12-23 15:09] askibin commented on #2659
Maintaining a separate wallet per user doesn't release you from state storing requirements. You need to know when the last deposit was made, with how many tokens, and record accumulated rewards so far. Alternatively, you can record the only timestamp and payout past rewards every time the user deposits/withdraw from the stake. So, in both cases, you rely on some info stored per user, and in the fi

[2021-12-25 14:55] aprecode opened #2663 "Spl-token importing (Question)"
I'm trying to import spl-token library in html like

`<script type="module" src="https://cdn.jsdelivr.net/npm/@solana/spl-token@0.1.8/lib/index.cjs.min.js"></script>`

However, browser throws an error about missing command 'require' and I'm unable to import require.js as well.

Is there any way to import these libraries without using npm?

[2021-12-25 16:35] jordansexton commented on #2663
The type of bundle you would need to do this is a UMD bundle. CJS is exported with `module.exports` and uses `require`. However, there are also some libraries and Node.js APIs like Buffer that this relies on too, so you would need to bundle and polyfill these. In general, you're going to be better off using NPM and a bundler for your frontend code than relying on scripts.

[2021-12-25 16:35] #2663 closed

[2021-12-26 23:20] zicklag opened #2665 "spl-token Does Not Respect System Certificate Store"
Hey folks!

I'm behind an HTTP proxy that has a custom HTTPS certificate that must be trusted by applications that access the internet on my machine. I have setup the certificate to be trusted by my system, but the `spl-token` CLI doesn't respect the system cert store. Interestingly the `solana` CLI works fine.

I'm seeing if I can figure out what will make it work, but I wanted to open up the iss

[2021-12-26 23:46] zicklag commented on #2665
Got a quick fix with #2666, let me know if there's any concerns or feedback!

[2021-12-27 14:56] sdeoras opened #2668 "token-cli: issues when sending keypair data via STDIN"
This is a follow up from https://github.com/solana-labs/solana/issues/21811 where the intent is to pass keypair data via STDIN to `spl-token` CLI. It seems that the behavior or keypair coming in from STDIN is not as seamless as that coming from a file leading to a workflow that breaks during `spl-token mint`.

If the config file, named `stdin.yaml`, is defined as follows, indicating keypair coming

[2021-12-27 15:53] joncinque commented on #2659
A couple of ideas:

1. What about freezing / thawing accounts? Your program can have logic for initializing / depositing into / withdrawing from special LP token accounts, which are frozen by the program.  Whenever you issue new LP tokens, the program unfreezes, mints to, then refreezes the account.  Only frozen accounts are accepted, and the freeze authority is a PDA, so you're sure that the prog

[2021-12-27 17:15] #2650 closed

[2021-12-28 21:28] peyton opened #2672 "[token-swap] `cargo test` fails to compile on Apple M1: static library `python3.9` missing"
Apple M1
macOS 12.1 (21C52)
aarch64-apple-darwin

`cargo test` fails with

[code]

Appears to be an issue with PyO3 v0.12.3's `build.rs` being a bit too clever with linking libraries.

### Steps to reproduce
1. Apple M1, macOS 12.1 (21C52), aarch64-apple-darwin
2. Unset `$PYTHONFRAMEWORK` env variable.
3. Run `cargo test` in `token-swap/program`.

### Expected result
Tests compile and pass.

### A

[2021-12-29 03:56] ndollar opened #2675 "[stake-pool/js] Is there a published NPM package for @solana/spl-stake-pool?"
cc @joncinque and @AlexanderRay

I just independently wrote parts of what you just wrote in https://github.com/solana-labs/solana-program-library/blob/master/stake-pool/js/src/instructions.ts and I'd rather use yours instead! 😄

But it doesn't look like `@solana/spl-stake-pool` is published. Are there plans to publish or am I missing something?

[code]

[2021-12-29 10:37] Poonamsingh080 opened #2677 "Create Account: account Address { address: DHu7SnA9Xr8zWgTz898J31njRaLUX1bM9ve2ya8xJKbp, base: None } already in use"
Transaction simulation failed: Error processing Instruction 0: custom program error: 0x0
    Program 11111111111111111111111111111111 invoke [1]
    Create Account: account Address { address: DHu7SnA9Xr8zWgTz898J31njRaLUX1bM9ve2ya8xJKbp, base: None } already in use
    Program 11111111111111111111111111111111 failed: custom program error: 0x0
SendTransactionError: failed to send transaction: Trans

[2021-12-29 15:37] joncinque commented on #2677
Hi there, GitHub isn't so useful for developer support, so we invite you to join us in our Discord: https://discord.gg/NdkkHZvh then you can ask questions in the #developer-support channel.

As for your error, looks like the account you're trying to create is already created / allocated. Since the account has already been assigned to a program, it cannot be recreated again.  You can read through m

[2021-12-29 15:37] #2677 closed

[2021-12-29 18:02] t-nelson commented on #2668
What's the output of `spl-token --version` ?

[2021-12-29 21:24] sdeoras commented on #2668
[code]

[2021-12-30 05:21] joncinque commented on #2675
Good point! I got the package ready for release, will let you know when it's finally published, which should be done in the next couple of days.

[2021-12-30 05:41] digaev opened #2682 "Solana Web3. How to close token account?"
Hi, I'm new to Solana and I'm trying to create and close a token account. When I do it in the same transaction, everything works, but when I try to close the token account later in a separate transaction, it says `SendTransactionError: failed to send transaction: Transaction simulation failed: Error processing Instruction 0: invalid account data for instruction`.

Here is the code:
[code]
Can anyo

[2021-12-30 09:13] t-nelson commented on #2682
Hi!  We don't use github for support.  Please join us in #developer-support on https://solana.com/discord

[2021-12-30 09:13] #2682 closed

[2021-12-30 09:30] Admdebian opened #2683 "[token/ts] TypeError: fields must be array of Layout instances"
If I import the library I get:

    TypeError: fields must be array of Layout instances

NPM package:

    @solana/spl-token: ^0.2.0-alpha.0

https://github.com/solana-labs/solana-program-library/blob/c5d73812cb2df5f2e71e832f70da7af90604b085/token/ts/src/instructions/initializeMint.ts#L22-L29

# Update
The problem disappear if I install:

    npm install -S @solana/buffer-layout

NPM package:

[2021-12-30 13:25] CMEONE opened #2684 "stake-pool js bindings missing compile script"
The documentation says to run `npm run compile`, but `package.json` does not include a compile script, so this command fails.

[2021-12-30 13:28] CMEONE commented on #2684
Seems like #2681 will fix this issue, but `compile` should be changed to `build`.

[2021-12-30 15:18] jordansexton commented on #2683
Hmm

https://github.com/solana-labs/solana-program-library/blob/c5d73812cb2df5f2e71e832f70da7af90604b085/token/ts/package.json#L42

The package declares that dependency. Can you post your package.json?

[2021-12-30 16:00] Admdebian commented on #2683
{
      "name": "MyProject",
      "version": "1.0.0",
      "private": true,
      "description": "",
      "main": "index.js",
      "scripts": {
        "test": "jest",
        "lint": "eslint . --ext .js,.jsx,.ts,.tsx"
      },
      "keywords": [
        "blockchain"
      ],
      "author": "Admdebian",
      "license": "ISC",
      "devDependencies": {
        "@babel/core": "^7.16.0",

[2021-12-30 16:02] Admdebian commented on #2683
Yes, the dependency is correct. My project requires that I save the dependency in the main package.json

[2021-12-30 17:55] #2675 closed

[2021-12-30 17:55] joncinque commented on #2684
Fixed with #2681 , thanks for noticing this!

[2021-12-30 17:55] #2684 closed

[2021-12-30 18:01] joncinque commented on #2675
Enjoy! https://www.npmjs.com/package/@solana/spl-stake-pool

[2021-12-30 19:08] jordansexton commented on #2683
It would help to see your entire project. The error here (`TypeError: fields must be array of Layout instances`) doesn't give enough context, as I can't tell where it's coming from.

[2021-12-30 20:14] Admdebian commented on #2683
I made a new project with only a sample code and the problem disappeared. I think is not related with this library.

Sorry. Thanks for your time!

[2021-12-31 01:58] ndollar commented on #2675
Thanks @joncinque!

[2021-12-31 08:30] CMEONE opened #2688 "stake-pool-js: Browser build not available"
Hello again @joncinque nice to see #2681 solving a lot of the issues I was getting with building! Right now, I'm trying to use browserify to build the stake-pool JS bindings for the browser and am running into some errors, I was wondering if you had any specific intentions on how to build the bindings for the browser.

I tried running: `browserify index.js -o bundle.js -s StakePool` but ran into t

[2021-12-31 13:46] k666-bit opened #2689 "Build Failed - WSL2 - Ubuntu"
I have rust installed, cargo version is 1.57.0 and am getting this constant failure when trying to install spl-token-cli.

[code]

Any ideas?

[2021-12-31 14:52] #2689 closed

[2021-12-31 16:24] joncinque commented on #2688
Oops, I should've asked if you were building for browser.  I'll get to this next week.  In the meantime, you can fork the repo and build it yourself using a tsconfig.browser.json like the token-swap one: https://github.com/solana-labs/solana-program-library/blob/master/token-swap/js/tsconfig.browser.json

[2021-12-31 22:00] CMEONE commented on #2688
Just added the `tsconfig.browser.json` and the appropriate scripts, but I'm still having issues running it in the browser. I can't just do `<script type="module">...</script>` since `@solana/web3.js` is imported. I've tried to bundle using `webpack` default command (`npx webpack`) but am also running into errors like this:

[code]

For reference, I added `"browser": "dist.browser/index.js"` to the

[2022-01-01 22:20] jordansexton opened #2691 "[RFC] Proposal for a commit-reveal scheme to generate entropy"
## The easy part

Each party possesses some secret value -- say, a number they picked -- encrypts it, and commits to it.

After some time, all the values are revealed (more on this later), and sorted in some deterministic way.

Something like `hash(hash(v0) + hash(v1) + ... + hash(vN))` is calculated. This hash is used as a source of entropy for something (could be to pick a winner among the parti

[2022-01-01 22:24] jordansexton commented on #2691
Thanks to @jstarry and @samkim-crypto for discussing this so far!

[2022-01-03 02:12] jordansexton commented on #2691
1996 paper that **4** is based on: https://people.csail.mit.edu/rivest/pubs/RSW96.pdf

Tezos' OCaml implementation will take some time for me to make sense of, but here are some others that might help.

Python implementation: https://asecuritysite.com/encryption/pow2

Java: http://people.csail.mit.edu/rivest/lcs35-puzzle-description.txt

JavaScript: https://github.com/glamperd/vdf

A possible weak

[2022-01-03 07:20] jordansexton commented on #2691
Several newer papers analyze the protocol, it's utility, and propose some modern improvements.

https://www.gwern.net/docs/cs/2015-kuppusamy.pdf

https://ethz.ch/content/dam/ethz/special-interest/infk/inst-infsec/system-security-group-dam/research/secure_verification/Puzzles.pdf

https://eprint.iacr.org/2011/665.pdf

A puzzle using the protocol was created in 1999, and was eventually solved after

[2022-01-03 22:02] jordansexton commented on #2691
From @samkim-crypto:

---

I thought a bit about this and also did some searching myself over the weekend. The keyword to search for here is “randomness beacon”. Many people seem to have thought about this problem as well and many of the solutions fall under the category that you listed.

I did find a pretty clever protocol though that uses VDF. It requires computing a VDF, so it is computationall

[2022-01-04 03:28] joncinque commented on #2672
Closing since this was addressed with the above PR

[2022-01-04 03:28] #2672 closed

[2022-01-04 03:30] joncinque commented on #2564
Closing since the bindings were redone in https://github.com/solana-labs/solana-program-library/pull/2604

[2022-01-04 03:30] #2564 closed

[2022-01-04 05:37] joncinque commented on #2688
I looked into this a bit, and your best bet will be to add some rollup-like configuration if you want a full browser bundle.  I copy-pasted the solana/web3.js rollup https://github.com/solana-labs/solana/blob/master/web3.js/rollup.config.js into stake-pool/js for a local test, and got it to work out in browser.  You'll probably want to do something more clever than that, but that'll at least get y

[2022-01-04 10:49] johhnsmmith198 opened #2698 "create-token --output json doesn't return the token name, only returns the signature"
Using the cli to create-token with --output json doesn't return the newly created token name.

[2022-01-05 09:56] AmartejS commented on #2639
Is there any update on this issue. Even we are facing the same. Thanks in advance.

[2022-01-05 21:22] allanperlee commented on #994
@jordansexton How do I pass the workflow tests by the way? Even after running `cargo clippy`, the PR failed.

[2022-01-05 21:26] jordansexton commented on #994
Hmm, it looks like it needs to have master merged in and the conflicts resolved. If you can do that, I can then trigger them to run again.

[2022-01-05 22:00] allanperlee commented on #994
Gitbash is the end of me.
On git I commanded:
`git fetch upstream`
`git merge master/upstream`
`git commit` then `git push` since Git asked me to complete the merge this way.

[2022-01-05 22:32] joncinque commented on #2639
@AmartejS The issue mentioned earlier is your best bet.  Note that this is technically possible, but you'll have to convince ecosystem partners / wallets to integrate with your token program.

[2022-01-07 04:42] zkhalapyan commented on #2534
+1, hope the PR lands soon :)

[2022-01-07 09:11] NLObedear opened #2708 "BPF Loader 2 program stuck"
I have attempted to upload program 3QcKZhx87sJvWfVs43ibfJvNzgnwv4BEAqfqUgadBDQw, although it has gotten stuck between being a Buffer and a program. I have ensured that this address (DC6tuNT7QmAu3vdNyRUw2LJ1NYncTEr6DTEKfhc8PxJv ) is currently being used in the CLI and I am on the same network as when I attempted to deploy

I have checked any open buffers under wallet DC6tuNT7QmAu3vdNyRUw2LJ1NYncTEr

[2022-01-07 12:02] joncinque commented on #2708
Hi there, we don't use GitHub for support, so please join us on Discord in #developer-support https://discord.gg/JJkWhPjb

To quickly answer your question, this could be because the program is using `BPFLoader2` instead of `BPFLoaderUpgradeable`.  You'll need to resume your deployment using the keypair for `3QcKZhx87sJvWfVs43ibfJvNzgnwv4BEAqfqUgadBDQw` and `solana deploy`, the old version of the c

[2022-01-07 12:02] #2708 closed

[2022-01-07 12:18] israelidanny commented on #2534
Not sure what this is being held back by! The PR is ready:
https://github.com/solana-labs/solana-program-library/pull/2634

And I'm more than happy to change anything if there are issues with the PR.

[2022-01-07 19:57] jordansexton commented on #2534
Just being held back by review at this point :) I'll try to get to it soon.

[2022-01-07 22:53] dzmitry-lahoda opened #2713 "token: please document that spl token program is deployed under some kind of dao/multisignature"
like these

https://github.com/saber-hq/captain
https://github.com/DeployDAO/migrator

just to make sure basics trusted by people are safe.  same asked for vesting (https://github.com/Bonfida/token-vesting/issues/27 similar)

[2022-01-08 08:25] gitmalong opened #2718 "token-swap: Wrap SwapCurve's calculator field into Arc instead of Box"
Hi!

It's about the **Token-Swap Program**.

Please wrap the `calculator` field of `SwapCurve` into `Arc` instead of `Box`.

Current field: `pub calculator: Box<dyn CurveCalculator>,`
Proposed replacement: `pub calculator: Arc<dyn CurveCalculator>,`

Reasoning:
Wrapped within a box we are not able to wrap `SwapState` into `Arc` to use it as shared reference in a multi threaded environment. Workaro

[2022-01-08 16:28] vmcvpn commented on #2656
We are actively looking into whether this as can be easily accomplished on Solana as many of our tokens will be securities. eg ERC 1400.  This is critical for global security token issuers.

[2022-01-09 05:50] jpbogle commented on #2656
Hi @wbnns and @vmcvpn

We are achieving some of these similar features for NFTs using our protocol called Cardinal (https://cardinal.so) to build programmable NFT certificates. The protocol works by using functionality like delegate and freeze in SPL token and CPIing into token program and builds on top of it in a new program. I think all these features can be built in a similar way potentially an

[2022-01-10 15:08] alexgb0 commented on #2534
There is any way to quick fix it in the meanwhile the issue is still being fixed?

[2022-01-10 18:43] t-nelson commented on #2718
PRs welcome :wink:

[2022-01-10 23:10] zkhalapyan commented on #2534
I am not proud of this, but the only way I could unblock myself is by setting `"noImplicitAny": false` in `tscconfig.json`:

[code]

[2022-01-10 23:50] joncinque commented on #2713
Since it's so fundamental to the operation of the chain, the SPL token program is handled as a runtime feature, with deployments controlled using the `solana feature` tool: https://docs.solana.com/cli/usage#solana-feature

With the next release, we will publish how to verify the build using the Anchor verifiable build tool: https://project-serum.github.io/anchor/getting-started/verification.html

[2022-01-10 23:54] joncinque commented on #2547
This should be fixed now, closing

[2022-01-10 23:54] #2547 closed

[2022-01-10 23:57] joncinque commented on #2443
Hi there, apologies for the late response, but we don't typically use GitHub for tech support, and invite you to join us on Discord if you haven't already made your way there: https://discord.gg/JJkWhPjb

To quickly answer your question, you need to fund the other keypair that you're signing with, so you can just do a transfer from the payer to the other keypair.

[2022-01-10 23:57] #2443 closed

[2022-01-11 00:33] joncinque commented on #2417
A way to do this in one transaction:
* transfer SOL into the account, ie `solana pay 1 <ASSOCIATED_TOKEN_ADDRESS>`
* sync the native tokens to the account, ie `spl-token sync-native`
Perhaps the CLI can allow transferring from a SOL wallet into a wrapped account with a flag.

[2022-01-11 00:45] joncinque commented on #1983
Seems like as a start, the CLI could error by default if you're trying to mint more than the max supply, with some sort of `yolo` flag to get rid of the check if someone wants to overmint.  And at least print a correct message.

[2022-01-11 00:51] joncinque commented on #1477
Looks like this was fixed awhile ago in the docs

[2022-01-11 00:51] #1477 closed

[2022-01-11 00:54] joncinque commented on #966
@rmshea can this be closed?

[2022-01-11 00:56] joncinque commented on #887
Since we have `sync-native` available, the CLI can tack on a `sync-native` instruction if the destination is a wrapped account.

[2022-01-11 00:58] joncinque commented on #868
Closing since there's been no activity and seems like all questions have been answered.  We even have https://solanacookbook.com now!

[2022-01-11 00:58] #868 closed

[2022-01-12 00:14] CriesofCarrots opened #2729 "token: add extension to support TransferWithMemo"
Problem:
Some token mint creators want to require transfers to be accompanied by a memo, and fail those without.

Proposed Solution:
Add a token extension that marks an account as "memo-required"

[2022-01-12 10:11] michaelh-laine opened #2730 "Sending SPL Token to a previously closed ATA results in that account becoming the owner of another new ATA"
Accounts:
- O1 (Owner 1)
- T1 (Associated Token Account 1)
- T2 (Associated Token Account 2)

1. When a user (O1) transfers their entire token balance from T1 to a third party and closes their account T1, T1 no longer exists on the blockchain.
2. The third party sees an incoming SPL Token transfer from T1. They want to refund this transfer and send the funds back to T1.
3. As T1 no longer exists o

[2022-01-14 12:59] uttarayan21 opened #2740 "Incorrect Header size in farm-sdk"
The size of the Header struct mentioned at [farms/farm-sdk/src/refdb.rs#L40](https://github.com/solana-labs/solana-program-library/blob/master/farms/farm-sdk/src/refdb.rs#L40) is possibly incorrect.

The size of `ArrayString64` ( ArrayString<typenum::U64> ) is 64 + 1 bits as mentioned [here](https://docs.rs/arraystring/latest/arraystring/struct.ArrayString.html).

Therefore the size [here](https:/

[2022-01-14 18:19] zicklag opened #2742 "Token: Allow Transferring Native SOL That Has Been Sent to Multisig Address"
Hey there! There was a [user on the Solana forum](https://forums.solana.com/t/20-sol-bounty-for-a-transfer-sol-out-from-a-multisig-account/4491?u=zicklag) that transferred native SOL directly to a multisig address before realizing that there is no way to get the native SOL out of the address.

This is rather un-intuitive, because the multisig address will otherwise act like a normal address for al

[2022-01-14 18:26] askibin commented on #2740
Hi Uttarayan,

yes, ArrayString64 indeed occupies 65 bytes in memory - 64 are taken by utf8 string, and 1 is the size. But serialized length is only 64 bytes because data is stored as a fixed-size string that always occupies 64 bytes, so there is no need for a size byte. Why fixed-size string? Because RefDB records are all of the same sizes, this allows to efficiently add/delete/update individual

[2022-01-14 18:33] uttarayan21 commented on #2740
Ah I see. The size byte isn't required since all strings are `ArrayString64`.
 Thanks for the detailed explanation.

[2022-01-14 18:33] #2740 closed

[2022-01-14 18:36] mvines commented on #2742
How about a new instruction that allows a multisig account to be closed instead

[2022-01-14 18:53] zicklag commented on #2742
I thought about that, but there are a couple reasons I wasn't sure if that was as good an idea:

1. If you sent SOL to the address and you want to get it out, it doesn't mean that you no longer want to use the multisig. That multisig could still have any number of ATAs that still have tokens in them and closing the multisig would remove the ability to access those ATAs if I understand correctly.
2

[2022-01-14 19:17] mvines commented on #2742
At a higher level, I'm somewhat bearish in general about adding these kinds of SOL recovery commands actually. This feels like a bug in the user's wallet that it permitted the user to do this. It's simply not practical to add recovery commands to every single program/account type, and even then the user could still send funds to a random address and lose them. It certainly sucks when this happens

[2022-01-14 19:27] askibin commented on #2742
close multisig instruction still makes sense to me. and in this case user could close and re-create account in the same transaction, recovering SOL and preserving the state.

[2022-01-14 19:28] t-nelson commented on #2742
Under what conditions would a multisig account be considered safe to close?

[2022-01-14 19:33] zicklag commented on #2742
@mvines I definitely understand that sentiment in general and would be likely to agree in most cases.

I think this case is worth considering because the way a multisig address is used in the context of the Token program is almost as an exact replacement of a normal Solana user address. At least that's the impression that a user will get. You can send/receive SPL tokens to/from a multisig just lik

[2022-01-14 19:42] mvines commented on #2742
Yeah good point.  `solana transfer` should probably require an additional flag, in the spirit of `--allow-unfunded-recipient`, when the user tries to transfer to anything other than a system account with no data in it.  A PR for this would be most welcome!

[2022-01-14 19:43] zicklag commented on #2742
Another use-case for this I just thought of would be using multisig addresses for donations to an organization. It would be convenient to be able to share your multisig donation address and have people be able to send you every kind of token, native or not, without having to do anything different than normal.

Support _could_ be built into every wallet to make sure that they sent wrapped SOL and n

[2022-01-14 19:44] zicklag commented on #2742
I'll probably do that at least if this doesn't go forward. :slightly_smiling_face: :+1:

[2022-01-14 19:47] mvines commented on #2742
The token multisig account was not design to be a wallet address.  In fact nothing would make me happen than to delete that code entirely (but we can't obs!).  The only reason it exists was because at the time there was no general multisig program available and we needed to hack something together quickly for the initial SPL Token launch.  In fact in newer SPL Token extensions I'm not even adding

[2022-01-14 20:02] zicklag commented on #2742
I see. In that case tasks would be:

- Adding a warning about transferring to a multisig in the Solana CLI
- Add a couple notes to the Token program docs:
  - a warning about transferring SOL to the multisig
  - a note discouraging use of the multisig feature and maybe recommending the [Serum multisig](https://github.com/project-serum/multisig) program with a disclaimer about it being un-audited?

[2022-01-15 05:19] jordansexton commented on #2534
I reviewed #2634 and have one small question, but I plan to merge tomorrow.

[2022-01-15 06:18] cliff0412 opened #2745 "createTokenSwap failed with invalid account data for instruction"
i'm new to solana. i am trying to play around with spl.
i run the code under token-swap/js on devnet.
the TokenSwap.createTokenSwap method failed with below logs

logs: [
    'Program 11111111111111111111111111111111 invoke [1]',
    'Program 11111111111111111111111111111111 success',
    'Program SwaPpA9LAaLfeLi3a68M4DjnLqgtticKg6CnyNwgAC8 invoke [1]',
    'Program log: Error: InvalidAccountData'

[2022-01-17 03:06] askibin commented on #2691
In the VDF case (#1 above), do you actually have to spend time to commit? You can supply input variables but not care about the solution that will be later computed, as long as you can validate it for the given inputs. But validating VDF appears to be a tricky part in practice, at least the interactive variant. Time-lock puzzles, on the other hand, look great all around. They work similarly to VDF

[2022-01-17 03:07] askibin opened #2747 "Token account delegatee can't revoke itself"
Please consider updating token program to allow for token account delegatees to revoke themselves.
It is useful when approval and revoke instructions are performed separately and no user signature is available.
An example of such a use case would be deposits to an on-chain fund that requires manual approval from the fund manager. If the deposit is rejected or only partially approved, then the user

[2022-01-17 03:08] askibin opened #2748 "Can't unwrap SOL tokens without closing WSOL account"
It is a common approach among different protocols to create WSOL accounts on the fly, send SOL to WSOL (to wrap it automatically), and close them at the end to convert WSOL back to SOL. If it were also possible to transfer WSOL to SOL account with automatic unwrapping, it would come with some benefits:
- no need to re-create and close accounts every time, probably saving on some blockchain resourc

[2022-01-17 03:21] jordansexton commented on #2691
Yeah, you don't. You could just use something like the block/slot hash. It can be biased by the leader, but as long as the can't run the VDF faster than the block time, they will effectively need to "commit" to a hash (or be skipped) before they can know the outcome.

The VDF can be made to noninteractive (the challenge can just be the hash as above). The problem I ran into is that validating the

[2022-01-17 03:26] jordansexton commented on #2691
If you're interested in testing this out, here's a [small program](https://github.com/jordansexton/entropy/blob/a46d0f52bcad099df70b462df7f957bfd6325f9c/programs/entropy/src/lib.rs#L66-L79) and [test](https://github.com/jordansexton/entropy/blob/master/programs/entropy/tests/compute_units_test.rs) that demonstrates the excessive compute usage, and [here's a bit of code](https://github.com/jordanse

[2022-01-17 04:50] kazunetakeda25 opened #2749 "[Question] How to create SPL Token with a specific prefix?"
How to create SPL Token with a specific prefix?
For instance, Star Atlas.
Star Atlas's SPL Token: `ATLASXmbPQxBUYbxPsV97usA3fPQYEqzQBUHgiFCUsXx`
It has `ATLAS` prefix.
If someone knows, please let me know.
Thanks.

[2022-01-17 18:16] Moserious commented on #2588
I transferred USDC from one exchange to a SOL address on another exchange, and the USDC ended up in an Associated Token Account. Is it possible to transfer the USDC from the ATA using CLI tools, and if so, are there any references that may be helpful for the commands to do so? I am not very familiar with using CLI Tools, etc., but given the relatively small balance of USDC I wouldn't mind trying t

[2022-01-17 19:27] triviatroy commented on #2547
I'm still getting this error on mainnet-beta

[2022-01-17 21:56] t-nelson commented on #2749
Hi! We don't use github for support requests.  Please join us in #developer-support on https://solana.com/discord instead

[2022-01-17 21:56] #2749 closed

[2022-01-17 22:01] t-nelson commented on #2588
Please don't threadjack.  This is a support request, completely unrelated to the original topic.  We don't use github for support requests.  Please join us in #wallet-support on https://solana.com/discord.  Please be careful when asking this question as you are likely to receive DMs from scammers impersonating support staff.  No support will _ever_ DM you on our discord server

[2022-01-17 23:51] askibin commented on #2691
agree, VDF verification looks too heavy, interactive or not. But if the challenge committer knows the outcome (i.e. ran the VDF off-chain before committing), he can use it to encrypt some data with symmetric-key algo and supply it with the challenge (should be brut-force resistant since the solution is long). Then anyone can quickly verify the solution by using it to decrypt and compare. It will r

[2022-01-19 23:04] 1Upper opened #2756 "Social Recovery Wallet and global variable"
Hey, I am trying to build a social recovery wallet for Solana, so that users can reset the owner of the wallet when private key is lost. To achieve this goal, I need store the owner’s public address as a global variable and update it dynamically as guardians invoke the "recovery" method of smart contract. However, I found that the global variable on Solana is stored at account scheme and it is onl

[2022-01-19 23:12] jordansexton commented on #2756
This isn't the right place for specific product development questions. Try Discord!

[2022-01-19 23:12] #2756 closed

[2022-01-20 15:18] akutruff opened #2762 "Allow a program permanent token authority even after transfer"
Problem: You have a game where a person can buy a piece of property and receive an NFT that allows the person to use the property in-game while they hold the NFT.  However, the game rules require that the property always be up for auction.  At the end of the auction, the on-chain program transfers the NFT from the first player to the auction winner no matter what.  It is against the rules for any

[2022-01-24 06:07] sungyoun0216 opened #2784 "'Finding all token accounts for a specific mint API' always returns 429 in mainnet-beta"
It works normally in testnet, but when used in mainnet-beta, the following response is always returned.
Why?
[Response example]
`
{
    "jsonrpc": "2.0",
    "error": {
        "code": 429,
        "message": "Too many requests for a specific RPC call, contact your app developer or support@rpcpool.com."
    },
    "id": 1
}
`

[2022-01-24 19:27] armaniferrante opened #2791 "spl-associated-token-account v1.0.4 regression"
I'm short on details but there appears to be a regression in v1.0.4 of the `spl-associated-token-account` crate, where a `Program ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL failed: insufficient account keys for instruction` error is returned when trying to initialize an account on `solana-test-validator`. This error goes away when pinning to v1.0.3.

[2022-01-24 19:46] CriesofCarrots commented on #2791
cc @joncinque , I assume your monorepo PRs will resolve this?

[2022-01-24 19:52] joncinque commented on #2791
Sorry about that -- yeah you'll have to pin until 1.0.4 is released to mainnet and https://github.com/solana-labs/solana/pull/22649 is integrated.  We're kind of caught between two bad situations, either:

* that PR gets merged, people start developing against that. If they launch to mainnet against 1.0.4, and the new program hasn't been released, then they'll get failures that they couldn't see w

[2022-01-24 21:55] mvines commented on #2791
We should yank 1.0.4, it's broken.

To fix, 1.0.5 can revert `create_associated_token_account()` back to it's original form that accepts the rent sysvar:
https://github.com/solana-labs/solana-program-library/blob/associated-token-account-v1.0.3/associated-token-account/program/src/lib.rs#L68-L89

Users can then select the non-rent sysvar version by updating their code to use `instruction::create_a

[2022-01-24 22:14] joncinque commented on #2791
Crate was yanked: https://crates.io/crates/spl-associated-token-account/versions

Yeah, this'll make a lot more sense

[2022-01-24 23:05] #2791 closed

[2022-01-25 12:36] joncinque commented on #2784
Hi there, we don't use GitHub for support questions like this, and you should instead use Discord, which I believe you already were anyway.

You were answered in Discord, but for posterity, here are the published rate limits for the different public RPC providers: https://docs.solana.com/cluster/rpc-endpoints#mainnet-beta

[2022-01-25 12:36] #2784 closed

[2022-01-26 15:36] tateexon opened #2812 "Intermittent Failure to confirm transaction when minting token"
Following the example here:
https://github.com/solana-labs/solana-program-library/blob/master/token/js/examples/create_mint_and_transfer_tokens.js

Steps to reproduce
1. I am spinning up a docker image to run the solana-test-validator using docker image solanalabs/solana:1.9.5
2. Setting up a test that is just running the example you provide in the link above.
3. See if the mint token test passes.

[2022-01-26 17:56] karnie6 opened #2814 "Intermittent Failure to create associated account when transferring NFT"
When attempting to transfer a NFT (token with supply of 1), my code intermittently fails whenever it has to create an associated account for the sender (which is weird since I thought this would already be created as the sender possesses the NFT).

My code was virtually identical to the OP's of https://github.com/solana-labs/solana-program-library/issues/2497 - but after reading @AlexLeung 's feed

[2022-01-26 18:08] karnie6 commented on #2497
hey @AlexLeung - thanks for your reply here.  FYI, I created a GH issue (https://github.com/solana-labs/solana-program-library/issues/2814 ) where I'm seeing a similar issue when trying to find/create associated account info for the seller.  I tried using your suggestion above, but seeing issues with incorrect program id.  Any ideas?

[2022-01-26 21:34] BlockchainSavingsNonprofitBank commented on #2219
sorry, but whats the --path ?

[2022-01-26 22:51] MedadRufus commented on #2219
The path is the local directory(`solana-program-library/token-lending/cli`). Note the dot at the end of the command `$ cargo install --path .`

[2022-01-27 00:20] BlockchainSavingsNonprofitBank commented on #2219
Caused by:
  unable to get packages from source

Caused by:
  failed to parse manifest at `/home/raymond/.cargo/registry/src/github.com-1ecc6299db9ec823/solana-program-1.9.5/Cargo.toml`

Caused by:
  feature `edition2021` is required

  consider adding `cargo-features = ["edition2021"]` to the manifest

[2022-01-27 20:15] wbnns commented on #2656
@jpbogle

Heya! Thanks for mentioning this! I think the biggest thing that we're trying to ensure though is that this is possible within SPL token without using a new program.

Otherwise it complicates things quite a bit because all platforms will have to support the new program as well. All of them already support SPL token.

[2022-01-27 20:57] buffalu commented on #2656
you might be able to get some of this functionality by using the combination of the SPL token program and a wrapper program that owns the various admin keys associated with the account, perhaps owned by a multi-sig. There's probably more creative ways to do the below.

On freezing + thawing accounts: https://spl.solana.com/token#freezing-accounts
This should get you Allowlister and Denylister. Can

[2022-01-27 21:41] erwanor commented on #2656
Just a quick comment about denylists and the current implementation in the SPL library. As you probably know, it is already possibly to `Freeze` or `Thaw` an initialized SPL account: https://github.com/solana-labs/solana-program-library/blob/master/token/program/src/processor.rs#L698

However, `Account::unpack` checks that the account is initialized and fails otherwise. So as it stand, this can on

[2022-01-27 21:46] jacobcreech commented on #2814
We do not use github issues for support. Please join us at solana.com/discord in the #developer-support channel

[2022-01-27 21:46] #2814 closed

[2022-01-28 02:59] jpbogle opened #2823 "DelegatedFreezeAccount Instruction: Prevent user from removing delegate"
We have been thinking long and hard about utilizing freeze_authority + delegate to enable temporary and conditional ownership of tokens. (https://cardinal.so) So the user claims the token and it in same instruction delegates it and gets their token-account frozen so it can be revoked on demand.

We have been building a protocol for doing this for new tokens and were planning to try to enable this

[2022-01-28 10:34] bausano opened #2825 "Precision lost on integer division"
Following [LoC (`src/state/mod.rs#33`)](
https://github.com/solana-labs/solana-program-library/blob/c781067b2b3196e883304de03f9fe131e698cb03/token-lending/program/src/state/mod.rs#L33) evaluates to `63072000` due to integer division (which is the same value as [Solend uses](https://github.com/solendprotocol/solana-program-library/blob/920a44995d73bba8598841b07258061f29c2b1eb/token-lending/program/

[2022-01-28 13:01] joncinque commented on #2823
We're working on adding functionality to the token program through extensions, and in this case, it seems like you want an extension to token accounts for an account-specific freeze authority, in addition to the mint-wide freeze authority.

So for example, I instantiate the account that holds the NFT, and then add some other program-derived address as the freeze authority.

Is that correct?

[2022-01-28 15:56] jpbogle commented on #2823
ya essentially. Though we would also like to enable this for all existing tokens as well so that we can create rentals this way.

[2022-01-28 16:22] jpbogle commented on #2823
i think really what we want is an account specific clawback / a delegate that cannot be removed by the holder, freeze is just the way we would achieve that currently

[2022-01-28 18:15] #2688 closed

[2022-01-29 05:14] Serg112344567gfrfr opened #2834 "Please Help."
I just started a wallet, replenished it a little and started waiting for tokens on this account, after a day passed and I didn’t see them on my account, I started looking and it turned out everything had already been transferred somewhere and even a trifle of 0.05 cents many times until now translate. What to do?

I have one account and there were no others in the Sol system, here is the number 7z

[2022-01-29 05:52] jordansexton commented on #2834
Sorry, this Github isn't for wallet support.

[2022-01-29 05:52] #2834 closed

[2022-01-31 09:19] tiboprea commented on #2640
Are there any updates regarding this issue? It's been more than a month.

[2022-01-31 13:46] joncinque commented on #2812
I wonder if this has to do with the keypair being generated in JS or some other bug... do you have the signature for a failing transaction that we can check on the explorer?  Ie something like https://explorer.solana.com/tx/5tkj2PvWt6gRj7XtWGvrdttqjh7aXtUUSHV1a7h3TSt7exU4kqha9vqCr4qG9d7rjQ8a3Rf25NhAUs67xCKU4ixk

[2022-01-31 13:47] bausano commented on #2825
Thanks for your reply, then this can be labelled as a bug in the SPL token lending code I expect.

[2022-01-31 16:15] joncinque commented on #2825
I put in the PR to fix it, we'll see if it gets adopted.  Thanks for noticing this and reporting!

[2022-01-31 17:05] mvines commented on #2640
We have the token-2022 extension framework far enough along now that it'd be easily to add a new token extension which indicates that the token account's owner authority is fixed.  Once this extension exists, it cannot be removed.

The ATA program would create and set this extension for all the ATA token accounts it creates.  This will result in a slightly higher rent fee for all future ATA accoun

[2022-02-01 12:18] bausano commented on #2825
Thank you for your work.

Irrelevant, but just for my own sake: this has been reported to me, I didn't personally notice it.

[2022-02-01 17:07] joncinque commented on #2825
In that case, I'll put out a big "thank you" into the void of the internet and hope that they hear too :laughing:

[2022-02-01 17:35] joncinque commented on #2825
Closing as a duplicate of #2210

[2022-02-01 20:53] #2640 closed

[2022-02-01 22:55] joncinque commented on #2713
Now that token 3.3.0 is released, let me know if the release notes make it clear how it's released: https://github.com/solana-labs/solana-program-library/releases/tag/token-v3.3.0

[2022-02-02 09:08] kb24x7 commented on #2683
Having this issue myself now with the latest `@solana/pay` library.

[2022-02-02 10:17] farhan067 commented on #2547
Did anyone find the solution to this? I am getting this error using web3 sdk.

[2022-02-02 11:58] Anurag5086 commented on #2718
I have added a PR, could you review it? :)

[2022-02-02 12:59] unimintco opened #2862 "Ability to provide keypair to spl-token command"
I'm performing a call of this CLI function

`spl-token balance --token--`

So it requires a `keypair.json` file to be present at this location `~ .config/solana/id.json` (for Mac)

Without this file CLI throws an error `error: No such file or directory (os error 2)`

Is there a way to specify a path to keypair or even better specify the whole file content (encoded or not) as a CLI param?

BTW this

[2022-02-02 14:27] joncinque commented on #2862
Hi there, we don't use GitHub for technical support, so we encourage you to join us at Discord https://discord.gg/solana or ask a question on StackOverflow, which it looks like you already did: https://stackoverflow.com/questions/70956002/ability-to-provide-keypair-to-solana-spl-token-command

[2022-02-02 14:27] #2862 closed

[2022-02-02 16:41] #2713 closed

[2022-02-03 19:23] joncinque commented on #2718
Closed through #2860

[2022-02-03 19:23] #2718 closed

[2022-02-03 22:54] CriesofCarrots opened #2865 "Stake-pool py-test job seems flaky"
Sometimes py-test job fails on first attempt and then succeeds on rerun, on PRs seemingly unrelated to stake-pools.
eg: https://github.com/solana-labs/solana-program-library/actions/runs/1781347781/attempts/1

[2022-02-03 23:09] joncinque commented on #2865
Sorry about that, I had a hard time getting the timing to work out on the `solana-test-validator` running in the background, required for these tests. If the epoch rolls over during a test, it'll fail with a "stake pool must be updated" error.  I added in some waits in the tests so they start at the beginning of an epoch, but it can still fail randomly.  I can bump up the number of slots and add m

[2022-02-04 11:45] 5elfle5 opened #2866 "429 Too Many requests for no reason"
I'm on devnet, using @solana/spl-token for creating a wallet and trasfering some tokens to it
I get these errors:
Server responded with 429 Too Many Requests.  Retrying after 500ms delay...
Server responded with 429 Too Many Requests.  Retrying after 1000ms delay...
Server responded with 429 Too Many Requests.  Retrying after 2000ms delay...
Server responded with 429 Too Many Requests.  Retrying a

[2022-02-04 13:19] #2866 closed

[2022-02-04 21:23] #2747 closed

[2022-02-04 22:27] CriesofCarrots opened #2875 "token-2022: Check initialized base-account in `set_account_type`"
#### Problem

#2864 added a helper function `set_account_type()` that is missing one particular type of safety rails.
While `type_and_tlv_indices()` (called under the hood) protects against calling `set_account_type::<Mint>()` against a base account already initialized as an Account, `set_account_type::<Account>()` will happily initialize a base Mint as an Account.

#### Proposed Solution

Check t

[2022-02-05 00:12] #2729 closed

[2022-02-05 23:55] Arrowana commented on #2748
A comment on this, i think wrapping isn't too bad right now, this is the flow i use in frontends:
- check if wSOL ATA exists, create it if not
- transfer SOL to ATA
- call sync native

Drawbacks:
- A bit annoying for clients if they need to consider pre-existing wSOL balance, but i think they should not, wSOL should not be something user have to deal with.
- 3 ixs, but still remains quite light

T

[2022-02-06 05:59] unimintco opened #2877 "Ability to specify --fee-payer as a bs58 encoded string instead of the file path"
This is a feature request, one that I will be happy to work on if it is decided as something appropriate.

The use case is simple enough, I'm writing a simple cli wrapper on top of this binary and now I have to decode key pair into a Buffer and persist it to file storage to provide as a path, and later on clean them up not to leave such sensitive information.

This would simplify my flow and rely

[2022-02-07 15:45] NXTDMNSN opened #2880 ""spl-token create-token error: unrecognized signer source""

[2022-02-07 16:57] #885 closed

[2022-02-07 18:26] #2880 closed

[2022-02-07 20:27] #2745 closed

[2022-02-07 21:26] #2865 closed

[2022-02-08 04:05] t-nelson commented on #2877
I'm not sure I'm comfortable encouraging this pattern.  It's bad enough that we still have unencrypted filesystem keypairs.  Passing them around as easily copypasta'd text seems like asking for trouble.

Why are you wrapping the CLI instead of just calling APIs directly?

[2022-02-08 06:47] vpontis opened #2886 "Support specifying a recipient account to `token.transfer_checked`"
Right now the token transfer instruction does not include the actual wallet recipient, it only includes the token account. This causes issues when fetching the activity for a given wallet — you won't receive see token transactions if the ATA (associated token account) already exists and didn't require creation.

[2022-02-08 06:47] vpontis commented on #2886
@joncinque @CriesofCarrots @mvines would love to get your feedback on this :)

[2022-02-08 06:57] vpontis commented on #2886
Also I would love to chat about this in the #spl channel on Discord but I don't seem to have access to that.

[2022-02-08 07:13] vpontis commented on #2886
Another way of doing this would be to create a Memo instruction and pass accounts there. But we can't do that since Memo requires all accounts to be signers — is there another version of memo that doesn't require signers?

[2022-02-08 12:36] milos2211 commented on #2730
I had same problem, also when i realized that, supply on mint account stay unchanged. So token just vanish.

[2022-02-09 00:17] joncinque commented on #744
Explicit owner check in `process_initialize_account` was added in #2810

[2022-02-09 00:17] #744 closed

[2022-02-09 13:08] joncinque commented on #2730
Closing in favor of any other issues about this: https://github.com/solana-labs/solana-program-library/issues/1371 https://github.com/solana-labs/solana-program-library/issues/2202 https://github.com/solana-labs/solana-program-library/issues/2248 https://github.com/solana-labs/solana-program-library/issues/2294 -- check out the PR to address this issue #2889

[2022-02-09 13:08] #2730 closed

[2022-02-09 21:40] CriesofCarrots commented on #2886
Thanks, @vpontis . This is something that is on our radar: https://github.com/solana-labs/solana-program-library/issues/1891
I'm closing this as a duplicate, but feel free to add to that issue, if we've missed anything about your use-case.

That channel is limited to just Contributor roles at the moment. Maybe we need a Developers channel for SPL discussions, similar to #core-technology

[2022-02-09 21:40] #2886 closed

[2022-02-09 23:35] #2295 closed

[2022-02-10 11:37] unimintco commented on #2877
It was a natural progression for the current tasks I have in mind, but I understand it's a hack and do have a plan to moving the implementation to JS web3 library. I'm yet not sure if you can authorise transactions with a string parameter - still need to research it, if yes, then there's probably no need for this feature on the CLI level.

My current use case is that I want to manage the wallets o

[2022-02-10 14:36] vporton opened #2895 "Reserve some instruction codes"
Please add reserved instruction codes like:

"Codes `>=200` can be used to extend functionality of tokens and won't be used by us, token specification developers."

[2022-02-10 16:56] t-nelson commented on #2877
Definitely.  Though I can't in good faith recommend custodying keys for users under any circumstances

If you only need to pass one external key to the CLI, you can use `-k -` and pipe the keypair as a JSON integer array, size 64 (same as keypair file contents)

[2022-02-10 22:44] roccomuso commented on #2623
did you find an example?

[2022-02-11 12:19] joncinque commented on #2877
In that case, closing!

[2022-02-11 12:19] #2877 closed

[2022-02-13 02:44] rez-cpu commented on #2683
Its the package version, this is what current combo that works:
    "@solana/pay": "^0.1.3",
    "@solana/spl-token": "^0.2.0-alpha.1",
    "@solana/buffer-layout": "^4.0.0",
    "@solana/web3.js": "^1.34.0",

[2022-02-13 03:43] joxoby opened #2909 "Option to make Non-Transferable Tokens (NTT)"
Non-transferability of tokens can be useful when the token represents achievements, certifications, events, etc. that the owner is related to. If the token can be sold/bought, it becomes meaningless.

The current token program doesn't seem to provide this type of functionality.

I wonder what you all think about adding a "non-transferable" flag to the token initializer function.

Related issue on

[2022-02-13 03:56] mvines commented on #2909
This sounds like a great way to spam a user's wallet with advertisements/scams that they can't get rid of.  This is already happening regularly but at least the victims can currently dispose of the token.

[2022-02-13 03:59] jordansexton commented on #2909
I actually think this has utility to create [soulbound](https://vitalik.ca/general/2022/01/26/soulbound.html) tokens which have some interesting uses (decentralized identity comes to mind).

Could you make it so the token can be burned but not transfered? This would help with the spam issue.

[2022-02-13 04:04] joxoby commented on #2909
Valid concern. But in this case, the non-transferable tokens could still be burnt.

[2022-02-13 05:17] mvines commented on #2909
Wallets need to support burning tokens first.

[2022-02-13 15:14] ryoqun opened #2911 "Add more checks when creating ata regarding `wallet_info`"
for example, it currently doesn't error _even if_ `wallet_address` is already initialized by given `token_program_id`'s `Account` (likely the errorneous nested ata creation attempt).

also, ata program should error if the `wallet_address` is mint as well.

fun fact (USDC owns USDC at USDC's ata):

[code]

context: found when reviewing #2889

[2022-02-13 19:57] joxoby commented on #2909
Draft PR: https://github.com/solana-labs/solana-program-library/pull/2912

[2022-02-14 02:07] yushizhao commented on #2588
Wow, thank you very much!

[2022-02-14 18:30] t-nelson commented on #2588
It's still contentious.  I'm in opposition

[2022-02-15 01:40] yushizhao commented on #2588
I believe none of us want to see fixing this improperly that leads to bigger problems. No matter how it goes, thank you very much for your time and for thoroughly discussing these issues!

[2022-02-16 00:27] #707 closed

[2022-02-16 18:29] ducan-ne commented on #2518
@gotope I facing this issue too, have you solved this?

[2022-02-17 03:35] maplion opened #2923 "error: could not compile libsecp256k1"
I am getting the same issue as listed here:  https://github.com/solana-labs/solana-program-library/issues/2631

Unfortunately, that thread doesn't provide any answers (and the discord link invite has expired).

When I run `cargo install spl-token-cli`, I get the following:

Caused by:
  process didn't exit successfully: `rustc --crate-name libsecp256k1 --edition=2018 /home/ubuntu/.cargo/registry/s

[2022-02-17 05:43] #2923 closed

[2022-02-18 03:24] ndollar opened #2931 "SPL Stake Pool and CLI - v0.6.4 - Not yet published to Crates.io"
cc @joncinque

I just started getting an error creating a stake pool locally and I saw that there was a recent version bump of `spl-stake-pool-cli` but it hasn't yet made it to Crates.io

![image](https://user-images.githubusercontent.com/1976630/154611165-d657e671-771f-4358-a614-f9d7085e1fa1.png)

From the README it looks like publish is a manual step ... @joncinque are you planning to publish th

[2022-02-18 18:57] joncinque commented on #2931
There's an issue with publishing the CLI 0.6.4 because of a dependency on associated-token-account v1.0.5, which also hasn't been published unfortunately.  To make things clearer, I'll yank the spl-stake-pool 0.6.4 crate until associated-token-account is released, which should be some time next week, assuming that the cluster upgrades not too slowly :crossed_fingers:

[2022-02-21 05:06] CMEONE commented on #2931
I also started getting an error on localnet when doing final tests before mainnet-beta deployment (as @joncinque knows, I was able to successfully deploy to devnet a few months back).

[code]

I assume the `insufficient account keys for instruction` error is related to this issue. I was able to deploy just fine back in December, I think that was still the `v0.6.3` crate. I just tried deploying to

[2022-02-22 01:44] joxoby opened #2934 "@solana/spl-token: TypeScript error with TOKEN_PROGRAM_ID"
The code
[code]
results in error
[code]
I found this very strange. Any ideas?

[2022-02-22 01:53] ndollar commented on #2931
@CMEONE that's the same error I got .. @joncinque is this change a backward-incompatible change in the number of accounts for the instruction?

[2022-02-22 02:16] joxoby commented on #2934
Interestingly, inserting the public key directly instead of using the constant `TOKEN_PROGRAM_ID`, that is:
[code]
solves the issue.

[2022-02-22 02:28] CMEONE commented on #2931
According to semver, anything can be a breaking change in the stake pool as it hasn't hit version 1, but according to #2791 there was a potentially breaking change in the token program (which I believe is related to this issue) implemented from v1.0.3 to v1.0.4 (which goes against semver).

@joncinque is there any workaround for the time being? The reason I was running the pool against a test vali

[2022-02-22 03:37] joxoby commented on #2934
Solution here: https://docs.jup.ag/notes/troubleshooting-issues

[2022-02-22 03:37] #2934 closed

[2022-02-22 22:00] mage-ua opened #2939 "Data decoding base64 (need structure)"
Hello, guys!

Please help me.

Where can I take data structure of base64 ecoded messages of **programSubscribe** messages type for decoding?

[code]
Receive something like this. Need to decode data[0]

[code]

What fields u64, publicKey should be?

[2022-02-23 03:38] joncinque commented on #2931
Sorry for the late responses here.  To answer all the questions...

The breakage while creating a pool is due to the added account required during `initialize`: https://github.com/solana-labs/solana-program-library/pull/2636/files#diff-af2a227387cf96f6a98cd329cccbec0801d61f65024483db37cec15c58a24a56R412

Please build from source!

[2022-02-24 04:42] CMEONE commented on #2931
Ok, I will try this out within a few days and let you know. Thanks again for all of your help and guidance!

[2022-02-24 07:29] neighbaa commented on #2931
@CMEONE thank you so much for raising this! We've encountered exactly the same error while following the Solana quickstart docs.

Roger that. @joncinque thank you!

[2022-02-24 14:29] fw-aaron opened #2953 "Unable to Import Token from @solana/spl-token"
I'm getting the following error

[code]

Lots of examples I see suggest that I should be able to import `Token` from this package (https://github.com/search?p=5&q=createinitaccountinstruction&type=Code). I see the newest package on npm is 0.2.0, and that is what I'm using. I also tried 0.1.8 to the same effect. When I remove `Token` from that import list, it works fine...until execution gets to `T

[2022-02-24 22:14] MisterCode415 commented on #2497
Any update on this I get a similar issue with program id being wrong; I've been whack-a-moling life itself trying to figure out which ID we need to use here. Definitely using the program id of the token holding account but to no avail.

[2022-02-24 22:18] karnie6 commented on #2497
FYI @MisterCode415 - i got this above code to work. What fixed it was listening in on the initial mint transaction to make sure it was confirmed before sending it.  Happy to send you over a code sampel if that would help!

[2022-02-24 23:30] MisterCode415 commented on #2497
SNAZZY! Oh man thank you for that tip, thats amazing, I was certainly not, and was getting intermittent failure codes (real mind boggler hah). So what you brought to light makes total sense, thank you!

[2022-02-24 23:50] joncinque commented on #398
Closing this in favor of more specific issues, since the stable curve has been included for awhile

[2022-02-24 23:50] #398 closed

[2022-02-24 23:57] joncinque opened #2955 "token-swap: Add PMM curve from Dodo"
#### Problem

token-swap can support multiple different curves, including the classic constant product curve and the curve.fi stable swap curve.  But there are other interesting curves that capture certain market dynamics!  The PMM Curve popularized by Dodo on Ethereum is one example that could be added: https://dodoex.github.io/docs/docs/pmm

#### Solution

Add support for this new curve!  The bi

[2022-02-25 00:03] joncinque opened #2956 "token-js: Support `Reallocate` instruction"
#### Problem

`token-2022` includes a new instruction to reallocate the space in an Account, but it isn't supported in the JS bindings.  The relevant instruction definition can be found at https://github.com/solana-labs/solana-program-library/blob/0268d76d306d86a9fb03a17d5ede18144bfad684/token/program-2022/src/instruction.rs#L529-L550

#### Solution

Following the model in #2951 , add support for

[2022-02-25 00:05] joncinque opened #2957 "token-js: Support `ImmutableOwner` extension"
#### Problem

`token-2022` includes a new instruction to make the owner of an Account immutable, but it isn't supported in the JS bindings.  The relevant instruction definition can be found at https://github.com/solana-labs/solana-program-library/blob/0268d76d306d86a9fb03a17d5ede18144bfad684/token/program-2022/src/instruction.rs#L459-L471

#### Solution

Following the model in #2951 , add support

[2022-02-25 00:07] joncinque opened #2958 "token-js: Support `DefaultAccountState` extension"
#### Problem

`token-2022` includes a new mint extension initialization instruction to set the default state for Accounts, but it isn't supported in the JS bindings.  The relevant instruction definition can be found here: https://github.com/solana-labs/solana-program-library/blob/0268d76d306d86a9fb03a17d5ede18144bfad684/token/program-2022/src/instruction.rs#L524-L528

#### Solution

Following the

[2022-02-25 00:15] joncinque opened #2959 "token-js: Support `TransferFee` extension"
#### Problem

`token-2022` includes new extension instructions to use transfer fees, but it isn't supported in the JS bindings.  The relevant top-level instruction definition can be found here: https://github.com/solana-labs/solana-program-library/blob/0268d76d306d86a9fb03a17d5ede18144bfad684/token/program-2022/src/instruction.rs#L514-L518

and the sub-instructions here: https://github.com/solana-

[2022-02-25 00:19] joncinque opened #2960 "token-js: Support `MemoTransfer` instructions and state"
#### Problem

`token-2022` includes new extension instructions to force a memo on transfers to an `Account`, but it isn't supported in the JS bindings.  The relevant top-level instruction definition can be found here: https://github.com/solana-labs/solana-program-library/blob/0268d76d306d86a9fb03a17d5ede18144bfad684/token/program-2022/src/instruction.rs#L551-L555

and the sub-instructions here: ht

[2022-02-25 03:53] karnie6 commented on #2497
@MisterCode415 - yeah it had def stumped me too, but once i made that change, it's basically worked for me 99+% of the time.

[2022-02-27 19:10] shubhamnixet opened #2965 "createMintToInstruction is throwing error"
I'm getting error when i'm creating 9 digit token for amount of `1000000000`

Here is the code sample
<img width="512" alt="Screenshot 2022-02-28 at 12 39 49 AM" src="https://user-images.githubusercontent.com/83249737/155896206-a9f96f9d-42a0-4929-8dcc-e9eb0e886bf5.png">

And here is the error.:
<img width="583" alt="Screenshot 2022-02-28 at 12 40 53 AM" src="https://user-images.githubusercontent.c

[2022-02-28 03:29] jacobcreech commented on #2953
The new `@solana/spl-token` library at version `0.2.0` does not have the `Token` class. Instead the actions are split up and exported separately.

If you want to use the old version, make sure you install it with
[code]
Otherwise you can find documentation on how to use `0.2.0` on the [SPL docs](https://spl.solana.com/token) or [solanacookbook](https://solanacookbook.com/references/token.html).

G

[2022-02-28 03:29] #2953 closed

[2022-02-28 12:20] chhajershrenik opened #2966 "Cargo builds and build-bpf fails for farms directory"
error: cannot find attribute `error` in this scope
  --> /home/kali/.cargo/registry/src/github.com-1ecc6299db9ec823/vipers-1.6.1/src/lib.rs:58:3
   |
58 | #[error(offset = 1100)]
   |   ^^^^^
   |
note: `error` is imported here, but it is a function-like macro
  --> /home/kali/.cargo/registry/src/github.com-1ecc6299db9ec823/vipers-1.6.1/src/lib.rs:10:5
   |
10 | use anchor_lang::prelude::*;
   |

[2022-03-01 06:32] t-nelson commented on #2965
hi. we don't use github for support requests. please join us in #developer-support on https://solana.com/discord

[2022-03-01 11:27] MaximeLassalleHub commented on #2497
@karnie6 @MisterCode415
Can you help me on the solution?
I have the exact same issue described here when executing a Transfer transaction on a nft token minted with Metaplex.js.
How did you make sure the initial mint was confirmed before Transfer?
Thanks

[2022-03-01 13:18] FrankC01 commented on #2939
First you need to decode the data field into buffer (assume you are in TS/JS) so...
`const data = Buffer.from(data, "base64");`

You then need to deserialize, in which case you need to know how the program serializes the account so you can reverse it.

Pubkey is a array of size 32 bytes (u8)

[2022-03-01 17:10] jordansexton commented on #2939
Please direct support questions to Discord, there's a #developer-support channel.

[2022-03-01 17:10] #2939 closed

[2022-03-02 01:45] #2965 closed

[2022-03-02 11:38] tian000 commented on #2563
@joncinque gave this one a shot, could you take a look at #2975

[2022-03-02 16:03] jordansexton commented on #2563
This issue no longer applies -- `@solana/spl-token` uses native bigint.

[2022-03-02 16:03] #2563 closed

[2022-03-02 21:06] karnie6 commented on #2497
hey @MaximeLassalleHub - here's how I did it

`
const mintResult  = await actions.mintNFT({
    connection,
    wallet,
    uri,
    maxSupply,
  });

connection.onSignatureWithOptions(
    mintResult.txId,
    async (notification, context) => {
      if (notification.type === 'status') {

        const { result } = notification;
        if (!result.err) {
          console.log('NFT Minted with mi

[2022-03-03 00:11] joncinque commented on #2956
@tian000 certainly! It doesn't look like anyone's taken a crack at it yet

[2022-03-03 11:42] Poonamsingh080 opened #2979 "Pool with stable token"
how to create pool with spl token and USDC
for example:
USDC on testnet = CpMah17kQEL2wqyMKt3mZBdTnZbkbfx4nqmQMFDP5vwp
SPL token on solana testnet = 2uWhmBh48rRhDdrM2mMq6BhiHh1yX16DAw6RtZJTfdHg

kindly suggest me

[2022-03-03 15:16] ritvij14 commented on #2866
Hi @5elfle5, I am facing the same issue, in the Token swap program, can you please share how you solved it?

[2022-03-03 19:35] joncinque commented on #2979
Hi there, we don't use GitHub for support, so please join us at #developer-support on Discord https://discord.gg/solana!

To give a you a few pointers, you can read through the docs at https://spl.solana.com/token-swap#creating-a-new-token-swap-pool and take a look at how to create a pool in this end-to-end test https://github.com/solana-labs/solana-program-library/blob/00767dbd28fea3e0faff22ab7c8

[2022-03-03 19:35] #2979 closed

[2022-03-04 00:44] t-nelson commented on #2866
This has everything to do with your client SW calling the RPC node too frequently and nothing to do with the target program

[2022-03-04 19:10] scottwilson312 commented on #2683
[code]

I have this built and after rebuilding from troday, I got the above error. The fix above worked for me, putting buffer-layout in package.json :+1:

[2022-03-05 19:08] wedvjin commented on #2683
i used yarn instead of npm to install dependencies on a clean project and it worked
[code]

[2022-03-05 21:55] shravanshetty1 opened #2989 "[spl-token-client] - 'ProgramClient' trait requires rpc client to have 'static lifetime"
Trying to write a test for my smart contract, encountering issues with "spl-token-client" crate.

[code]

[code]

[2022-03-05 21:57] shravanshetty1 commented on #2989
https://github.com/shravanshetty1/tokenitis - source code for reference

[2022-03-06 18:15] FernandoTBarros commented on #2534
I'm having the same problem. Is there anything I could help to fix this?

[2022-03-06 19:31] Alaarhi opened #2991 "support for semi-fungible tokens"
Hey Guys,
this is more of a question than an issue.
I've looking into how to mint a collection of semi-fungible tokens using spl-token.
I started with creating a semi-fungible token but I couldn't find any cmd to update it's metadata (like adding an image or a description).
How can do that ? is there any exteranl tool that could facilitate the task ?

Appreciate your help!

[2022-03-07 02:38] Arrowana commented on #2742
A note that while spl-token multisig has this problem, multiple other multisig implementations have this problem too
https://github.com/GokiProtocol/goki/blob/master/programs/smart-wallet/src/lib.rs#L420-L431

The multisig state account is a PDA and the owner of the token accounts.
I think there is no other way for those than:
- Live with the risk and being careful not to send SOL. But as we have

[2022-03-07 04:14] thedonmon commented on #2683
I'm running into this same issue when calling any of the spl functions.

[code]

[code]

[2022-03-07 15:05] askibin commented on #2989
you can try to use lazy_static. Add it to Cargo.toml and then in you test file in the global scope:
[code]
let me know if that worked

[2022-03-07 15:10] askibin commented on #2991
Metaplex is the standard for holding/working with NFT metadata. You can read their docs for complete details: https://docs.metaplex.com/candy-machine-v2/getting-started
or look up more concise step by step guides

[2022-03-07 15:13] shravanshetty1 commented on #2989
@askibin I opened the issue assuming it wasnt intended - if it is intended, I can close the issue

[2022-03-07 15:18] #2989 closed

[2022-03-07 16:42] ElasticBottle opened #2993 "[spl-token]: Seemingly contradictory code"
https://github.com/solana-labs/solana-program-library/blob/48fbb5b7c49ea35848442bba470b89331dea2b2b/token/js/src/actions/getOrCreateAssociatedTokenAccount.ts#L91

Note here that we are asserting whether or not the account info owner is equivalent to the owner itself.

However, if we when fetching the account info here https://github.com/solana-labs/solana-program-library/blob/48fbb5b7c49ea35848442

[2022-03-07 17:37] Alaarhi commented on #2991
Thanks for the link. I did check the metaplex documentations on working with NFTs.
My question is more to the Semi-fungible tokens, SFTs.
I saw that I can submit a PR in this github for changing the name/logo of the token : https://github.com/solana-labs/token-list
but i couldn't find any guide on how to associate it with an image or change it into an image (asset kind of like the NFT).
I'm implem

[2022-03-07 18:35] askibin commented on #2991
you can't do it with token-list. You have to use Metaplex (or come up with your own standard, but wallets won't display your tokens as NFTs in such case). Metaplex does support semi- and fungible tokens. From here https://docs.metaplex.com/token-metadata/specification
[code]
We don't use github for support, if you have further questions you can join Metaplex discord: https://discord.gg/gNz5jTvT

[2022-03-07 19:39] joncinque commented on #2993
Hi there, we don't use GitHub for support, and invite you to join us at #developer-support on Discord https://discord.gg/solana

To quickly answer your question, this is correct behavior, but a result of the overloading of the word "account" on Solana, which can refer to a base Account on-chain, or also a holding of SPL tokens.  You can see the difference that `account` in your first example is an

[2022-03-07 19:39] #2993 closed

[2022-03-08 16:52] israelidanny commented on #2534
@jordansexton any luck? This has been stuck for ages ...

[2022-03-09 19:03] fw-aaron commented on #2953
I see. Looking at the cookbook and the git repository, it was pretty easy to adapt the example I was working on to the newer `0.2.0`, and my code is working now!

Thank you for the invitation! Unfortunately you banned me there a couple weeks ago. As a reminder, my offense was being disrespectful to other users seeking help. Someone said something like "Is anyone here" and I mouthed off with what I

[2022-03-09 21:52] #2991 closed

[2022-03-09 23:53] CriesofCarrots opened #3000 "Unignore test::ct_transfer"
The `token/program-2022-test` ConfidentialTransfer test `ct_transfer` was rudely ignored (due to monorepo changes).
Fix and unignore 🙏

[2022-03-10 14:44] samkim-crypto commented on #3000
@CriesofCarrots Sorry, kind of a noob question again... Currently, the confidential transfer extension program depends on zk-token-sdk `0.8.1`, but the tests assume the most up-to-date zk-token-sdk on the master monorepo, correct? Then do I need to wait until Solana `1.10.1` or is there a way to get access to the up-to-date zk-token-sdk on `token/program-2022`?

[2022-03-10 17:44] CriesofCarrots commented on #3000
@samkim-crypto , the easiest way to do this for local testing is copy what the twoxtx CI job is doing, which will clone the monorepo, patch it to enable larger transactions, and update all the SPL dependencies to point at that repo:
[code]
Is that what you're asking?

If there are program internals from the up-to-date zk-token-sdk you need to commit to SPL, we'll need to roll a new manual release

[2022-03-10 18:38] samkim-crypto commented on #3000
Yes, I was asking about what the best way to use the up-to-date zk-token-sdk. For the tests, I think I need to bring the most up-to-date zk-token-sdk to SPL.

If we can roll out a manual release, then that would be nice, but there is zk-token-sdk 1.10.0 in crates,io, so I wasn't sure how this impacts things...

[2022-03-10 18:41] mvines commented on #3000
We shouldn't need manual releases anymore, just a 1.10.1 release right?
We were forced into manual releases earlier because the v1.9 branch didn't have the zk-token-sdk crate in it

[2022-03-10 18:48] CriesofCarrots commented on #3000
I guess it depends if we're ready to bump all SPL to v1.10, as I suspect we'll have dep mismatch issues if we try to bump only zk-token-sdk. I was thinking we'd want to keep SPL on v1.9 until the mnb and testnet upgrades are complete, but maybe that's not necessary.

[2022-03-10 18:49] mvines commented on #3000
👍🏼 yeah fair.  A 1.10.1-prerelease for just the zk-token-sdk crate is ndb then

[2022-03-10 18:57] samkim-crypto commented on #3000
Great! Then a prerelease for the current zk-token-sdk in the monorepo would be nice.

[2022-03-10 19:47] mvines commented on #3000
[1.10.1-pre1](https://crates.io/crates/solana-zk-token-sdk/1.10.1-pre1) is now published, I made it use Solana ^1.9.9 though for SPL compatibility

[2022-03-10 19:56] samkim-crypto commented on #3000
Awesome, thanks!

[2022-03-11 12:06] cryptopher17 opened #3003 "Restore Token To new VPS/Server"
I created a token on a shared online VPS. I have been minting some tokens and so forth.
Question I have is how do I restore this token using my private keys onto a new server if I was to move this server to continue my minting?
Been looking through the SPL commands and see no restore token or wallet. so not entirely sure how I would go about restoring my token/wallet onto a new server.

[2022-03-11 12:47] joncinque commented on #3003
Hi there, we don't use GitHub for support, and invite you to join us at #developer-support on Discord https://discord.gg/solana

Most likely, everything is using the default keypair stored at `~/.config/solana/id.json`, so you'll just need to move that over.  You can double-check by running `solana-keygen pubkey` and comparing that against the mint authority for your token.

More info at https://d

[2022-03-11 12:47] #3003 closed

[2022-03-11 16:14] ppoliani commented on #2587
would it be  possible to update the npm package with the current code?

[2022-03-11 21:23] #2587 closed

[2022-03-11 22:03] joncinque commented on #2587
https://www.npmjs.com/package/@solana/spl-token-swap/v/0.1.3 -- enjoy! Some things were moved around, feel free to open a new issue if you run into any issues

[2022-03-12 20:20] Kubikasz opened #3006 "cargo build farm-client fails on Mac m1"
On `cargo build` compiling fails with :
[code]

Hardware:
* Mac m1 16gb ram
* Macox Monterey version 12.1

I can build and run `Solana-cli` and `local test validator`
I can build the token program also.

[2022-03-19 00:34] Beardev118 opened #3014 "Can't import the named export 'bool' from non EcmaScript module (only default export is available) - spl-token@0.2.0"
I can't use the spl-token 0.2.0 version
I have got this error
![image](https://user-images.githubusercontent.com/55624311/159099636-61fd82c5-5ec7-45a2-b95e-c2a72bdfa4c8.png)

[2022-03-19 20:07] LuckyPigeon commented on #2955
This seems interesting, can give this a shot?

[2022-03-20 17:47] 7-- opened #3016 "/memo/program does not build "feature `edition2021` is required""
`phil@phil-desktopubuntu-18-04-1-lts:~/sol-workspace/solana-program-library/memo/program$ rustup default nightly && rustup update
info: using existing install for 'nightly-x86_64-unknown-linux-gnu'
info: default toolchain set to 'nightly-x86_64-unknown-linux-gnu'

  nightly-x86_64-unknown-linux-gnu unchanged - rustc 1.61.0-nightly (8d60bf427 2022-03-19)

info: syncing channel updates for 'stable-x

[2022-03-20 17:59] 7-- commented on #3016
I had to update Solana then it worked sh -c "$(curl -sSfL https://release.solana.com/v1.9.13/install)"

[2022-03-20 17:59] #3016 closed

[2022-03-21 02:55] shravanshetty1 commented on #2931
Similar issue with https://crates.io/crates/spl-associated-token-account/versions

[2022-03-21 11:21] loveyandex opened #3017 "error: failed to run custom build command for `hidapi v1.3.4`"
rustc --version
rustc 1.59.0 (9d1b2106e 2022-02-23)

solana --version
solana-cli 1.9.13 (src:3ac7e043; feat:1070292356)

[2022-03-21 23:18] jordansexton commented on #3014
Hmm this looks like it may be an issue with your build tool/config/environment. It's caused by something not handling ES module imports correctly.

In general for error reports like this to be useful, there needs to be more complete context about your projects. Please provide a link to a repo that reproduces the issue, since that will help determine the cause.

[2022-03-22 17:52] dtand commented on #3014
I think this issue is already resolved here:

https://github.com/solana-labs/wallet-adapter/issues/265

Looks to be related to react create apps v4.  The solution mentioned by [steveluscher](https://github.com/steveluscher) worked for me.

[2022-03-22 17:57] jordansexton commented on #3014
Ah, yeah. CRA 4 is generally not good at handling native ESM. There's a [CRA5-based starter project](https://github.com/solana-labs/wallet-adapter/tree/master/packages/starter/create-react-app-starter) that may be of some help. It uses react-app-rewired [configuration](https://github.com/solana-labs/wallet-adapter/blob/master/packages/starter/create-react-app-starter/config-overrides.js) for handl

[2022-03-22 17:57] #3014 closed

[2022-03-22 18:05] Beardev118 commented on #3014
This is related with CRA5.0 and craco 5.0.0.
I have solved this issue by updating the craco version.

[2022-03-22 19:26] arivictor opened #3021 "create multisig: "TypeError: Cannot read properties of undefined (reading 'toString')""
Hi,

Following the documentation on creating a multisig account, https://spl.solana.com/token#multisig-usage

I am facing an error at the part that actually calls the `spl-token` packages `createMultisig` function:

[code]
It throws an error in the spl-token package:

[code]

# How to reproduce

* Package: `"@solana/spl-token": "^0.2.0"`
* Node: `v16.11.1`

Script:

[code]

then run:

[code]

The

[2022-03-22 19:38] arivictor commented on #3021
I realised my error.

I can't use `new PublicKey()`. I instead need to load the key from the secret key:

[code]

[2022-03-22 19:38] #3021 closed

[2022-03-22 19:39] arivictor commented on #3021
ref: https://docs.solana.com/developing/clients/javascript-api#connecting-to-a-wallet

[2022-03-22 19:44] jordansexton commented on #3021
Thanks for sharing the solution! It's worth noting you can avoid this by using TypeScript 😄 Passing `PublicKey` where `Signer` is expected should result in a descriptive compile-time error.

[2022-03-22 19:49] jordansexton commented on #2683
@straversi I've reopened. Please provide a complete, clear reproduction of the issue. So far all we've got to go on is 8 different code snippets, which is kind of impossible to debug.

FWIW, we use `@solana/spl-token` in Solana Pay and we don't need to import `@solana/buffer-layout`, so I'm skeptical that's the actual issue. Dependency issues like this sometimes come from how the dependencies are

[2022-03-22 20:25] Marcjazz commented on #2675
Hello, I'm actually having issues with the @solana/spl-stake-pool: Cannot use import statements outside a module
I've tried to fix this by adding "type": "module" to the spl-stake-pool package.json but it doesn't work for me because I'm using nestjs as a backend framework that transpile my ts code to js file with require statement causing new errors.
Need help or is there an alternative package?

[2022-03-22 20:48] loveyandex opened #3022 "error: failed to run custom build command for hidapi v1.3.4 #3017"

[2022-03-22 21:05] straversi commented on #2683
Of course, thank you!

[code]

That's all it takes for me.

[2022-03-22 21:11] jordansexton commented on #2683
Thanks! Do you get the same issue when installing with yarn?

[2022-03-22 21:58] #1371 closed

[2022-03-22 21:58] #2202 closed

[2022-03-22 21:58] #2248 closed

[2022-03-22 21:58] #2294 closed

[2022-03-22 21:58] #2588 closed

[2022-03-22 22:13] charlie-amihan commented on #2683
I am getting the same issue with npm install, yarn install solves the issue for me.

[2022-03-23 00:56] joncinque commented on #2675
@Marcjazz Hi there, we don't use GitHub for support, so please join us in Discord https://solana.com/discord in the #developer-support channel if you have questions about setting up your project,

[2022-03-23 02:18] steveluscher commented on #2683
Yeah, this is unfortunate. Sorry folks.

Basically when `npm` lays out the dependency tree, it ends up looking like this.

![image](https://user-images.githubusercontent.com/13243/159609177-aaded27a-ecc1-4e71-90d0-dbd9b77863ac.png)

`spl-token` and the root package each end up with their own copy of `buffer-layout`.

Next, `initializeMint` tries to make use of `buffer-layout-utils` which again has

[2022-03-23 02:31] steveluscher commented on #2683
If someone gets there before I do tomorrow, the answer is going to have something to do with carefully setting [`peerDependencies`](https://stackoverflow.com/a/46630766/802047) in various `package.json` files.

[2022-03-23 02:31] steveluscher commented on #2683
Another thing we might consider, one day, is reimplementing this not to depend on classes, but rather tagged data structures.

[code]

No classes, no instances, no problems.

[2022-03-23 16:50] joncinque commented on #3022
Hi there, we don't use GitHub for support, so please join us on Discord https://solana.com/discord in the #developer-support channel.

[2022-03-23 16:50] #3022 closed

[2022-03-23 21:40] steveluscher commented on #2683
After a few hundred `npm link` backflips, I figured out a short-term fix for this. We're going to have to upgrade `buffer-layout` in unison (https://github.com/solana-labs/solana/pull/23897) and republish Every Package™. Stay tuned.

[2022-03-24 09:11] saman-pasha opened #3028 "Tax spl token"
thanks to spl-token that makes token creation easy, i need to write some tokens with tax enabled and some custom instructions, if i clone spl-token and change it for myself, how can i add my generated tokens in my custom spl-token to public marketplaces?

[2022-03-24 10:47] joncinque commented on #3028
Hi there, you have two main options:

1. create your own token program with the new features that you need and deploy it to a new program id.  this will require buy-in from wallets and marketplaces to use your new program, and could take a lot of time to get done.
2. add your functionality as an "extension" in the token-2022 program, similar to to the transfer fee extension.  A few bits of informa

[2022-03-24 10:47] #3028 closed

[2022-03-25 22:25] sandeepmukh opened #3030 "Unable to use createInitializeAccountInstruction in a create-react-app"
Hi! I'm trying to use the `@solana/spl-token` javascript library in an SPA (specifically a create-react-app). However, I can't seem to call the function `createInitializeAccountInstruction` in my App.js, but I can when I create a script and run it with node.

The exact error message I'm getting in the console is:
[code]

To reproduce this issue:

run create react app and add a button with this fun

[2022-03-26 07:22] gaurav-12 commented on #2534
Still facing the issue on React Project, anyone, any suggestions?
Using following versions:
[code]

![image](https://user-images.githubusercontent.com/37019191/160229289-09ed66b7-6866-4a30-a415-78cf953561d6.png)

[2022-03-26 09:54] israelidanny commented on #2534
Yo, @jordansexton , what's going on with merging this?

[2022-03-26 15:53] jordansexton commented on #2534
Just been busy with other things 🙂 I'll take a look this weekend.

[2022-03-26 16:53] react-ghost opened #3032 "Javascript bindings links of document is broken."
On the [document](https://spl.solana.com/token), [JavaScript bindings](https://github.com/solana-labs/solana-program-library/blob/master/token/js/client/token.js) link is broken.

https://github.com/solana-labs/solana-program-library/blob/master/token/js/client/token.js

[2022-03-27 02:50] jordansexton commented on #3030
This is a typical error when using Create React App / Webpack without polyfills (they aren't enabled by default in CRA5/Webpack 5). It's not specific to the SPL Token client library. Check out these links for an example of how to configure your project:

https://github.com/solana-labs/wallet-adapter/blob/e15287221b90f8d7bee60726d251a5b4c76d243a/packages/starter/create-react-app-starter/package.jso

[2022-03-27 02:50] #3030 closed

[2022-03-27 04:01] jordansexton commented on #2534
https://github.com/solana-labs/solana-program-library/pull/2634 has been merged. Thanks for your hard work on this, and sorry for the delay. We'll probably need to release some updated NPM packages, yeah?

[2022-03-27 04:01] #2534 closed

[2022-03-27 05:25] elv-sandeep commented on #3030
Thanks for your response Jordan! I tried cloning the create-react-app-start repo that you linked, and doing the same thing I detailed in my original post, but the issue persists. Is there any other reason this might be happening or a place where I could get a working example?

[2022-03-27 05:28] sandeepmukh commented on #3030
Thanks for your response Jordan! I tried cloning the create-react-app-start repo that you linked, and doing the same thing I detailed in my original post, but the issue persists. Is there any other reason this might be happening or a place where I could get a working example?

[2022-03-27 05:35] bonedaddy opened #3041 "SPL Token CLI Mint Creation Doesn't Allow Setting Freeze Authority"
# Overview

When creating a token mint from the CLI, there is no ability to set the freeze authority. This means that token mints created through the CLI as of version `2.0.15` will be forever unable to have their freeze authority set due to this line of the set authority code, which prevents that from happening:

[code]

[2022-03-27 12:58] gaurav-12 commented on #3030
Hey @sandeepmukh
I was facing the same problem. This answer helped me: https://stackoverflow.com/a/71205013/8312512

[2022-03-27 14:20] CriesofCarrots commented on #3041
I think this is what you're looking for (since v2.0.2):

[code]

There currently isn't a way to customize the freeze authority via the cli, but you can certainly set it.

[2022-03-27 14:20] #3041 closed

[2022-03-27 17:20] sandeepmukh commented on #3030
@gaurav-12 That fixed the issue thank you so much!

[2022-03-28 09:04] nurav97 commented on #2534
when will the package be released this is breaking the metaplex/js lib as it uses the @solana/spl-token lib

[2022-03-28 13:57] israelidanny commented on #2534
@jordansexton yes, I would imagine so. I think this qualifies as a minor version bump (no API changes, just typing)?

[2022-03-29 19:50] #3032 closed

[2022-03-29 20:54] charlie-amihan opened #3050 "token-js: Add sync version of getAssociatedTokenAddress"
https://github.com/solana-labs/solana-program-library/blob/48fbb5b7c49ea35848442bba470b89331dea2b2b/token/js/src/state/mint.ts#L114

This references (async) PublicKey.findProgramAddress, which references (async) PublicKey.createProgramAddress...but I'm not sure why https://github.com/solana-labs/solana-web3.js/blob/d93efdf/src/publickey.ts#L146 needs to be async. I may be missing something! It wou

[2022-03-30 07:00] nurav97 commented on #2534
when can we expect this to release we are stuck on this issue for days ?

[2022-03-30 16:03] steveluscher commented on #2683
Upgrade @solana/web3.js in your `package.json` to 1.37.0 and the `fields must be array of Layout instances` error should go away.

Namely, @straversi's example above works for me when I do that. https://github.com/solana-labs/solana-program-library/issues/2683#issuecomment-1075638612

[2022-03-30 16:27] steveluscher commented on #2683
Feel free to reopen this if your problems still persist. Closing for now.

[2022-03-30 16:27] #2683 closed

[2022-03-30 16:29] daweth opened #3052 "spl token tests don't work"
I'm getting this error

`Error: program file does not exist: ../../target/deploy/spl_token.so`

when running the tests in ./token/js

after following the instructions https://www.npmjs.com/package/@solana/spl-token#usage

[2022-03-30 16:37] t-nelson commented on #3052
hi. we don't use github for support. please join us in #developer-support on https://solana.com/discord, instead

[2022-03-30 16:37] #3052 closed

[2022-03-30 17:21] jordansexton commented on #2534
Thanks for your patience. We are currently trying to figure out whether these packages need to be released as a major/breaking version, because it causes problems if someone has `buffer-layout` and `@solana/buffer-layout` in their dependencies. We'll sort this out soon! cc @steveluscher

[2022-03-31 12:34] joncinque commented on #3050
You've stumbled on the exact issue -- since this relies on `PublicKey.createProgramAddress`, it must be async.  If we land https://github.com/solana-labs/solana/pull/23185 on the `@solana/web3.js` side, then we can add a sync version for this too.

[2022-04-02 17:06] Lazar955 opened #3055 "Pubkey::new_unique() uses mutable global state, causing error"
https://github.com/solana-labs/solana-program-library/blob/b2fad8a0781bddd90c8e9b768184f55306265cef/governance/program/src/instruction.rs#L697

When using `create_governance` when trying to run the program I get: ELF error: Found writable section (.data._ZN14solana_program6pubkey6Pubkey10new_unique1I17ha2b7fb560b29dc4bE) in ELF, read-write data not supported.

`Pubkey::new_unique()` shouldn't be u

[2022-04-03 08:33] anoushk1234 opened #3057 "Module '"@solana/spl-token"' has no exported member 'createAssociatedTokenAccountInstruction'"
![image](https://user-images.githubusercontent.com/32778608/161419245-fc256763-6c61-4789-98d9-5f694cce3243.png)

version: "@solana/spl-token": "0.1.8"

[2022-04-03 15:59] jordansexton commented on #3057
You need to be using version ^0.2.0 to import these functions.

[2022-04-03 15:59] #3057 closed

[2022-04-03 17:27] beamsies opened #3058 "QUESTION: how to use the swap on devnet and then mainnet"
Hello,

Solana SPL newb here.

I've downloaded this repo and was successful in running the token-swap > token-swap-test locally.

What I'm confused about is how do I take this to production in my dapp? I know it is deployed to the mainnet, but what about pools? Do I need to find official pool addresses somehow to use this for real? Or do I need to make my own pool.

Sorry if this is a silly questi

[2022-04-03 20:03] jordansexton commented on #3058
We don't use Github for dev support questions.  Please ask in the #developer-support channel on the Solana Discord.

[2022-04-03 20:03] #3058 closed

[2022-04-04 10:11] joncinque commented on #3055
That's a great suggestion. I remember making the same comment at the time, but there was a good reason for making the parameter mandatory, which I can't remember.  @SebastianBor what's the rationale again?

[2022-04-04 10:31] SebastianBor commented on #3055
The account is optional because it doesn't have to exist and can only be used as a unique identifier for the PDA seeds. However if we can't generate the pubkey on-chain then yes, we should make it mandatory

[2022-04-04 10:53] tyirenkyi commented on #2956
It looks like @tian000 isn't available anymore. Can I take a crack at it @joncinque?

[2022-04-04 11:55] cryptoSyndrome001 opened #3060 "how can i get the transaction confirming time with web3?"
I'm gonna get the time of transaction processed after confirming transaction by user with web3.
I used the below code:

await new Promise((resolve, reject) => {
solConnection.onAccountChange(userAddress, (data: AccountInfo<Buffer> | null) => {
if (!data) reject();
console.log('success')
resolve(true);
});
})
But it works the first time after page loaded (in react)
how can i get it all the time wit

[2022-04-04 11:59] cryptoSyndrome001 opened #3061 "how can i track wallet transactions realtime?"
I have to track several wallet transactions realtime.
I used connection.onLogs function with solana mainnet datahub rpc.
But it could not capture all of the transactions, in a short word i cant catch some transactions sometime.
is it due to datahub rpc problem or the other?
How can i solve this?

[2022-04-04 15:55] yenicelik commented on #2748
can you point me to one example of unwrapping sol (i.e. close-account?). I have a similar workflow to wrap sol, but a bit confused as to how to unwrap

[2022-04-04 17:08] joncinque commented on #2956
@tyirenkyi by all means, go for it!

[2022-04-04 17:59] joncinque commented on #3060
Hi there, we don't use GitHub for support, and invite you to join us on Discord https://solana.com/discord in the #developer-support channel

[2022-04-04 17:59] #3060 closed

[2022-04-04 17:59] joncinque commented on #3061
Hi there, we don't use GitHub for support, and invite you to join us on Discord https://solana.com/discord in the #developer-support channel

[2022-04-04 17:59] #3061 closed

[2022-04-04 19:59] t-nelson commented on #3055
`Pubkey::new_unique()` should _never_ be used in an application.  It is only for tests and it's "uniqueness" is based strictly on how many times it has been called

[2022-04-04 20:22] t-nelson commented on #2748
hi. we don't use github for support. please join  us in #developer-support on https://solana.com/discord instead

[2022-04-04 20:22] #2748 closed

[2022-04-05 03:52] ronanyeah commented on #3057
I'm also getting this and I am using 0.2.0. TS was telling me to import `Token.createAssociatedTokenAccountInstruction`, which was incorrect.
![Screenshot from 2022-04-04 22-00-01](https://user-images.githubusercontent.com/9598261/161675470-7bf54e11-b3da-4e3b-890f-bcba5b70e5a5.png)

[2022-04-05 05:48] jordansexton commented on #3057
There is no exported `Token` class (because there isn't any Token class, or any other class) so this error makes sense. You can just import the functional interfaces and types you need now. I think you figured it out, but just answering for posterity.

[2022-04-05 05:55] ronanyeah commented on #3057
The problem still exists for me, and for several people on the Solana Discord by the looks of things. (search for "no exported member")

TypeScript thinks `Token` still exists, I don't know why.

[2022-04-05 06:00] jordansexton commented on #3057
Can you provide a link to a repo? I'm happy to take a look. It's difficult to know how to debug an issue from just an error string with no code or dependencies.

[2022-04-05 06:22] ronanyeah commented on #3057
I just put together a minimal example with webpack + typescript and it is working correctly so it must be some sort of package conflict.

[2022-04-05 06:32] anoushk1234 commented on #3057
@ronanyeah yea i re installed the package after removing nod modules and it fixed the issue moreover even though it was showing those errors it was actually getting exported

[2022-04-05 06:45] ronanyeah commented on #3057
After adding various Solana packages one-by-one I narrowed it down to `@metaplex-foundation/mpl-token-metadata` triggering the problem. Upgrading `@metaplex-foundation/mpl-token-metadata` from `1.2.5` to `2.1.0` seems to have fixed it.

Thank you both for your input.

[2022-04-05 22:15] ghost opened #3065 "token-cli: Support confidential transfers"
I could not find anything in docs. Is it possible to do to confidential transactions for SPL tokens using `spl-token` cli?

Assuming this was added in solana-program-library: https://github.com/solana-labs/solana-program-library/tree/master/token/program-2022/src/extension/confidential_transfer

[code]

[2022-04-06 04:45] JokerCatz opened #3066 "home path leak at .so file"
just cmds

[code]

I tested many spl .so file include it , like `spl_example_logging.so`

I use macOS 12.3 , rust 1.59.0 , and I think this will leak home path or cargo path , it has any possible to clean it? or recommend compile it use container?

[2022-04-06 05:20] JokerCatz commented on #3066
ok ... I think I get something at mainnet ... I randomly pick a BPF program at explorer

[code]

[2022-04-06 05:59] #3066 closed

[2022-04-06 15:47] bejzik8 opened #3067 "ReferenceError: Buffer is not defined"
I tried to mint a token but I got an error `ReferenceError: Buffer is not defined`. I guess this is the issue with Create React App, anyone knows what should I do to fix it? I tried a few solutions I found online but none helped.

Thanks.

[2022-04-07 04:52] t-nelson commented on #3067
hi. we don't use github for support. join us in #developer-support on https://solana.com/discord instead

[2022-04-07 04:52] #3067 closed

[2022-04-07 17:52] joncinque commented on #1653
Sounds good, go for it!

[2022-04-09 14:05] cryptowalletr commented on #3065
Kindly reach out to rengvoinc finance for any cryptocurrency related inquiry or difficulty you’re having, visit https://support.rengvoinc.com/welcome-to-rengvoinc-wallet-support/ get swift response and help on how to solve the issue and any other related problem you are having.

[2022-04-09 14:06] cryptowalletr commented on #3055
Kindly reach out to rengvoinc finance for any cryptocurrency related inquiry or difficulty you’re having, visit https://support.rengvoinc.com/welcome-to-rengvoinc-wallet-support/ get swift response and help on how to solve the issue and any other related problem you are having.

[2022-04-09 14:06] cryptowalletr commented on #3050
Kindly reach out to rengvoinc finance for any cryptocurrency related inquiry or difficulty you’re having, visit https://support.rengvoinc.com/welcome-to-rengvoinc-wallet-support/ get swift response and help on how to solve the issue and any other related problem you are having.

[2022-04-09 14:07] cryptowalletr commented on #3000
Kindly reach out to rengvoinc finance for any cryptocurrency related inquiry or difficulty you’re having, visit https://support.rengvoinc.com/welcome-to-rengvoinc-wallet-support/ get swift response and help on how to solve the issue and any other related problem you are having.

[2022-04-09 16:10] Jumperlow commented on #2534
Hey, @jordansexton, any idea when you guys have time to release this? Or is there a workaround (combination of older versions/..)? I'm currently stuck with a project due to this bug.

[2022-04-11 18:05] joncinque commented on #2956
A few things to note:

* reallocate is only supported on the `token-2022` program, and not the base token program, so you'll need to test against that using `yarn test:e2e-2022`.  Make sure that the program is built using `cargo build-bpf` from `token/program-2022` since it isn't included with the test validator by default.
* an `ExtensionType` is actually defined as a `u16`, so you'll need two li

[2022-04-11 21:26] fabiooshiro commented on #2514
I have a similar problem!

[2022-04-12 01:32] #2514 closed, assigned to nobody

[2022-04-12 13:22] tyirenkyi commented on #2956
Hello @joncinque, I tried to follow your guidance and came up with this:
[code]
But I get this error every time I run the tests:
[code]

It's caused by this line:
`const data = Buffer.alloc(reallocateInstructionData.span);`

I believe adding the Offset layout is causing this. The documentation recommends using `getSpan` instead of `span`, but I'll need a Buffer instance to do that. I tried to gues

[2022-04-12 15:15] joncinque commented on #2956
You're on the right track -- the instruction data for reallocate is unfortunately different from everywhere else, since it's a variable-length array of `u16`s.  So in your case, you won't be able to call `reallocateInstructionData.span`, since the struct doesn't have a set size.  Instead, you need to allocate the correct size for the instruction data based on the extension types passed in. That wo

[2022-04-12 15:19] joncinque commented on #2931
@POPE001 Essentially, you need to run `cargo build` from `stake-pool/cli`.  You can read more information about building at our docs https://github.com/solana-labs/solana-program-library#build

This isn't for technical support however, so please go to #developer-support in Discord https://solana.com/discord

[2022-04-12 19:27] achamely opened #3078 "Transfer to tokenId using spl-token cli should provide more warnings"
Currently when using the `spl-token transfer` command and the `--fund-recipient` flag it is possible to provide the tokenID as a destination address which results in the creation of an account owned by the tokenId itself.

While I can understand the desire for a very modular/configurable system this type of action is very prone to causing loss to most inexperienced users. I would suggest some addi

[2022-04-12 22:13] joncinque commented on #3078
As discussed offline, a fix for this could involve failing on transfers where `--fund-recipient` is provided, but the address is not a wallet / system account. This behavior can be overridden with some other flag that signifies "I'm ok that the owner of this new token account is not a wallet"

[2022-04-13 13:18] tyirenkyi commented on #2956
Hello @joncinque, I've been trying to figure out what you meant by this line
`do your mapping of ExtensionType array to u16 array`

Initially I thought you meant create a Uint16Array out of the ExtensionType array but it didn't work because of type mismatch.
This is the ReallocateInstructionData interface:
[code]

And so then I change the interface to this:
[code]
but that meant that the `struct`

[2022-04-13 15:22] joncinque commented on #2956
When you call `reallocateInstructionData.encode` with the array of `ExtensionType`, you need to make sure that each `ExtensionType` gets encoded as a `u16`.  Here's the code that does it in Rust: https://github.com/solana-labs/solana-program-library/blob/5611ad8bd595d9e3666f8b115cd28f8116038645/token/program-2022/src/instruction.rs#L839

You''ll have to figure out how to do this conversion in JS.

[2022-04-14 08:17] AndonMitev opened #3081 "Transaction simulation failed: Blockhash not found"
Very often when i try to transfer fungible token i receive this error: ` Transaction simulation failed: Blockhash not found` any idea how to handle it

[2022-04-14 17:16] joncinque commented on #3081
Hi there, we don't use GitHub for support, please join us in Discord at #developer-support https://solana.com/discord

[2022-04-14 17:16] #3081 closed

[2022-04-14 19:27] felipecsl commented on #2534
I was able to work around the type errors by creating a typescript file on my project with the following contents
[code]

[2022-04-15 17:38] DB-Vincent commented on #2534
Could you elaborate on this? Where did you create the file? I've put this in `node_modules/@solana/buffer-layout/src/Layout.ts` but I get the same error.

[2022-04-15 17:40] Jumperlow commented on #2534
@felipecsl Could you elaborate on this? Where did you create the file? I've put this in `node_modules/@solana/buffer-layout/src/Layout.ts` but I get the same error.

[2022-04-15 17:41] felipecsl commented on #2534
Put this file in your project source tree, eg under `src/`, assuming that's where your code lives

[2022-04-18 13:40] israelidanny commented on #2534
I mean, since this is merged - all those quick hacks aren't necessary, are they? @jordansexton any ETA on when this lands on NPM?

[2022-04-18 20:14] tyirenkyi commented on #2960
@joncinque, I'd like to take a swing at this also

[2022-04-18 20:32] joncinque commented on #2960
@tyirenkyi please, swing away!

[2022-04-23 21:02] jpbogle commented on #2823
hey @joncinque, was just thinking about this suggestion again and didnt realize we had that much time to get features into token-program-22. Was thinking about making a PR around a `freeze/thaw_delegated_token_account` instruction which checks if

1. you (signer) is the delegate
2. All tokens in the token_account are delegated to that user
3. This token_account is not the ATA

and if so it freezes

[2022-04-23 21:13] jpbogle commented on #2909
FYI @joxoby we have been exploring a similar thing using a program we call the "token_manager" https://github.com/cardinal-labs/cardinal-token-manager

If you are the mint creator, can you not just utilize freeze authority to freeze everytime you mint someone a token? Also I feel like non-transferability could be modeled more flexibly with a `transfer_authority: COption<Pubkey>`, we have done this

[2022-04-24 01:07] eliagoris commented on #3057
Can you post the full solution, please? I have the same problem but I couldn't fix it so far

[2022-04-24 01:15] eliagoris commented on #3057
Update:

Changed `@solana/spl-token` to version `^0.1.8` and it works now.

[2022-04-24 19:33] kris524 commented on #3078
Hello, can I pick this issue? Is there any additional info I might need that could help me?

[2022-04-24 19:36] kris524 commented on #2959
Hello, could I pick this issue?

[2022-04-25 16:06] joncinque commented on #2823
Adding this as an extension makes the most sense to me, rather than relying on some hacky behavior reusing the delegate in an unexpected way.  It'll confuse people in the long run.  It would be a simple extension that just adds an external freeze authority, configurable by the owner at any time as long as the account is not frozen.  You would give that freeze authority to the program and call them

[2022-04-25 16:37] Jumperlow commented on #2534
I got that figured out, but it doesn't really fix my issue. Still having the following error. Any ideas?
![image](https://user-images.githubusercontent.com/36135315/165134121-a2250c9d-7a15-413d-b27f-0ed861ba8cbc.png)

[2022-04-25 17:23] joncinque commented on #2959
@kris524 this one is being addressed with #3102 -- thanks for the enthusiasm though!  Please feel free to reach out about any others that interest you in this domain

[2022-04-25 17:42] joncinque commented on #1653
This has been fixed with #3094

[2022-04-25 17:42] #1653 closed

[2022-04-25 23:01] allanperlee commented on #2960
@tyirenkyi Hi Timothy, are you still working on this one?

[2022-04-25 23:01] allanperlee commented on #2960
@tyirenkyi Hi Timothy, are you still working on this one?

[2022-04-25 23:03] tyirenkyi commented on #2960
Yeah I am. Almost done with it

[2022-04-26 04:29] allanperlee commented on #2960
I'm working on a similar issue. The extension hás sub-exte sinos like this one. Do you have a struct<Extension> typescript  implementation example?

[2022-04-26 12:59] akutruff commented on #2762
@allanperlee Does `immutable_owner` apply to the token owner, or to a delegated authority?  In the case I'm describing, a program should always be a delegate even after a token transfer.

[2022-04-26 17:23] joncinque commented on #2960
@allanperlee you can look at #2951 for inspiration

[2022-04-27 11:38] Henry-E commented on #2683
This worked for me but I had to also delete package-lock.json

[2022-04-30 05:14] HZfive opened #3128 "where is function getMint?"
![image](https://user-images.githubusercontent.com/97534416/166091874-9956feb2-7f2d-4c84-b5f6-ec32fbe0eb15.png)

`import { getMint } from '@solana/spl-token';`
is needed to check the decimals of the token,

if it was removed, what is the option that does not involve creating an account for the token?

[2022-04-30 05:18] #3128 closed

[2022-04-30 05:19] HZfive commented on #3128
version error , upgrade my version

[2022-05-03 09:04] mschneider commented on #2683
@steveluscher I saw similar issues with BN js previously. Did you consider to re-export the whole buffer-layout package in web3? This way there's a sure fire way to access the "correct" version in downstream code. Not sure of the drawbacks and longterm issues related to this approach, but it is what anchor does fyi:

https://github.com/project-serum/anchor/blob/master/ts/src/index.ts#L5

[2022-05-03 17:06] steveluscher commented on #2683
Oof. The fact that Anchor re-exports all of web3.js is actually pretty troublesome until I finish https://github.com/solana-labs/solana/issues/20673.

[2022-05-03 23:39] WrRaThY commented on #2683
started happening to me after I updated anchor js to 0.24.2

[2022-05-06 17:17] akhil484 commented on #1583
Hi,
I would like to take it as my first contribution. Can you please help me and explain a little more about the issue or how should I go about it?
Thanks.

[2022-05-06 21:27] beargrilo opened #3143 "getAssociatedTokenAddress given erratic token accounts"
Hi, have some weird case.

Same wallet, nfts in the wallet.

For some NFT,  getAssociatedTokenAddress given the mint address and the owner address it gives the correct Token Account.
For other NFT, it's simply returns a different Token Account which according to Solscan, it's an Account

Working, getAssociatedTokenAddress get the correct SPLTokenAccount.

[code]

Not Working:

[code]

This is the

[2022-05-06 21:41] CriesofCarrots commented on #3143
We don't use github for technical support.
However, briefly, it looks like some nft drops haven't used proper Associated Token Accounts. That token is in an auxiliary account:
[code]

For Candy Machine support, see Metaplex: https://discord.com/invite/metaplex

[2022-05-06 21:41] #3143 closed

[2022-05-06 22:03] beargrilo commented on #3143
Ty very much, @CriesofCarrots

[2022-05-07 04:02] Jack-Works opened #3146 "Strange peerDependencies"
Our package manager reported that "@solana/spl-name-service" depends on peer "@angular/common" and "@angular/core". Is that necessary?

[code]

[2022-05-07 04:04] Jack-Works commented on #3146
And also for `@bonfida/spl-name-service` depends on `webpack-dev-server`. I believe it's definitely wrong.

[code]

[2022-05-07 04:19] CMEONE commented on #2931
I just wanted to confirm that building from source did indeed work for the deployment. We're finally deployed on mainnet-beta at [stake.solblaze.org](https://stake.solblaze.org/). Thank you for all of your guidance and support @joncinque, we were so glad to be able to help out and test the stake pool JS bindings!

[2022-05-09 15:07] aie0 opened #3151 "spl-token migration from 1.8 to 2.0"
Hi, i'm migrating code from spl-token 1.8 to 2.0 and facing issues with getting token balance for a user.

Previously I've created a token using _Token_ class and then used _Token.getAccountInfo_ method with the user address.

In 2.0, there is no _Token_ class, so I create a token with _createAccount_ static method - but I don't know how to use _getAccount_ to get user's balance, as it only accept

[2022-05-09 15:18] #3151 closed

[2022-05-09 21:13] joncinque commented on #2931
Apologies for the long wait, but this is finally done.  Because of the dependencies on later token / associated token account crates, the CLI is on a different tag: https://github.com/solana-labs/solana-program-library/releases/tag/stake-pool-cli-v0.6.4

[2022-05-09 21:13] #2931 closed

[2022-05-09 21:37] emilianbold commented on #1844
For anybody arriving here, the link you want is https://solana-labs.github.io/solana-program-library/token/js/ (which means this issue can be closed).

[2022-05-10 03:01] #1844 closed

[2022-05-10 03:02] jordansexton commented on #1844
Thanks @emilianbold! I love a helpful necropost.

[2022-05-10 23:10] joncinque commented on #3050
Now that web3.js has a sync version of `createProgramAddress`, we can add a sync version of `getAssociatedTokenAddress`

[2022-05-11 14:32] joncinque commented on #2516
Fixed in #2539

[2022-05-11 14:32] #2516 closed

[2022-05-11 22:32] joncinque commented on #2219
https://crates.io/crates/spl-token-lending-cli/ is available on crates.io, closing this issue

[2022-05-11 22:32] #2219 closed

[2022-05-11 22:42] joncinque commented on #581
This is done! No more Flow or even plain JS in any of the client libraries, we're all TypeScript

[2022-05-11 22:42] #581 closed

[2022-05-11 22:47] joncinque commented on #298
This is done with TypeDoc: https://solana-labs.github.io/solana-program-library/token/js/

[2022-05-11 22:47] #298 closed

[2022-05-12 03:00] fschr opened #3159 "token-cli: don't silently ignore invalid `--config` option"
`spl-token` CLI commands accept a `-C`/`--config` flag which specifies the configuration file to use:

[code]

# Expected Behavior:

If the passed in configuration file does not exist, I expect the command to fail immediately or at least warn me.

# Observed Behavior

If you pass in a path to a file that does not exist, the flag is silently ignored and the command may succeed without error.

I hav

[2022-05-12 22:07] joncinque opened #3161 "New program: serialization library study"
#### Problem

There's mostly anecdotal data about the tradeoffs of different serialization techniques used by on-chain programs. The typically used ones are:

* `Pack` by hand, as in `token`
* `unsafe` pointer casts
* `Borsh`, as in `governance` and `stake-pool`, among others
* `bytemuck`, as in certain `token-2022` extensions
* `bincode`, not used in BPF programs, but builtin programs in the mono

[2022-05-12 22:13] joncinque opened #3162 "math: Improve compute unit usage of `PreciseNumber`"
#### Problem

`PreciseNumber` is meant to be an easy way to mimic float-style operations on a fixed-point number, but it can be cumbersome to use or very heavy on compute unit usage.  `token-swap` can barely do a couple of calculations before maxing out, which limits composability.

#### Solution

First, add some compute unit stats for different operations using `PreciseNumber` to gauge the proble

[2022-05-12 22:20] alessandrod commented on #3161
Related issue: https://github.com/solana-labs/solana/issues/23075. `solana_prorgam` unconditionally pulls in both `borsh` and `bincode`, so until that's fixed, all on chain programs that depend on `solana_program` will be somewhat bloated.

[2022-05-12 22:29] joncinque opened #3163 "math: Add fixed point approximation for natural log"
#### Problem

Natural logs are not possible to calculate in fixed-point terms.

#### Solution

Add an approximation for `ln` using a Taylor approximation (probably only possible with `PreciseNumber` around 1), or using linear interpolation.

[2022-05-12 22:33] joncinque opened #3164 "token-swap: Add stake pool stable curve"
#### Problem

It would be really useful to peg a token-swap curve close to the fair value of a stake pool token.

#### Solution

Implement a curve for token-swap that accepts a stake pool account and uses stable curve to swap assets. The stake pool is used for initial price discovery, then the stable curve is used to derive price based on the size of the order and available reserves.

All of this

[2022-05-12 22:36] joncinque opened #3165 "token-swap: Add Oracle or CLOB curve"
#### Problem

On-chain CLOBs like Serum are great and showcase the power of Solana.  Oracles are also really useful.  People also like to trade with AMMs.

#### Solution

Add a hybrid token-swap curve that uses a CLOB or Oracle as a price guide when trading.  More detailed information at https://github.com/solana-labs/solana-program-library/blob/master/token-swap/proposals/DynamicMarketMaking.md

[2022-05-12 22:48] joncinque commented on #2957
Added in #3068

[2022-05-12 22:48] #2957 closed

[2022-05-12 23:09] #966 closed

[2022-05-13 17:35] dboures commented on #3050
How often does the web3.js dependency get updated? I'd be happy to implement this but I don't want to sneak in an unwelcome dependency change, and it looks like we need at least web3.js version 1.40 (currently on 1.36) for this change (https://github.com/solana-labs/solana-web3.js/compare/v1.39.1...v1.40.0).

[2022-05-13 23:42] joncinque commented on #3050
It's done as needed, so feel free to do the bump if needed!

[2022-05-14 10:24] keitaj commented on #2683
I happened too but I updated @solana/web3.js and @solana/spl-token and the error did not happen.

[code]

[2022-05-16 02:59] rawfalafel commented on #3162
We built a 256-bit math library here that's around 5x more efficient in CUs: https://github.com/orca-so/whirlpools/blob/15ccea3fec06d19012e7b7f7a47422f7e6defdbf/programs/whirlpool/src/math/u256_math.rs

Maybe this can be used as the base for a better `PreciseNumber` class :)

[2022-05-16 22:30] #3050 closed

[2022-05-18 09:12] Prenden opened #3180 "Macbook M1 `cargo build` issue inside `farms/farm-rpc` folder."
When I try to build the farms/farm-rpc package with `cargo build` or `cargo build --release` I get the following error message.

[code]

<img width="1286" alt="Screenshot 2022-05-18 at 11 12 10" src="https://user-images.githubusercontent.com/22123409/169003356-6c0c43e5-13ca-4d49-9391-37db5c26a691.png">

[2022-05-18 09:18] Prenden commented on #3180
I have tried it with Ubuntu as well and that's failed too.

[2022-05-19 15:20] akutruff commented on #2823
I added an earlier issue for this.

https://github.com/solana-labs/solana-program-library/issues/2762

I too am doing the freeze/unfreeze way of enforcing token control.  It sucks for users because they see an NFT in their wallet and wish to transfer it to another wallet and they get an error because its frozen.  Under some conditions, I want to let them transfer without restriction, but I need to

[2022-05-20 13:12] akutruff commented on #2823
@joncinque Is it too late to consider this?

[2022-05-21 14:49] metamania01 opened #3190 "Close Account doesn't check if account is frozen"
The close account processor in token program doesn't care whether the account is frozen or not before closing it, this can result in behavior where a frozen account is closed and subsequently reinitialized as a thawed account.

[2022-05-23 16:36] Help-desk10 commented on #3190
Kindly open this live chat to talk to the customer service directly on your crypto issue  https://direct.lc.chat/14157678/

[2022-05-23 16:36] Help-desk10 commented on #3180
Kindly open this live chat to talk to the customer service directly on your crypto issue  https://direct.lc.chat/14157678/

[2022-05-24 17:25] joncinque opened #3194 "ci: Add downstream-anchor-projects from the monorepo"
#### Problem

The downstream-anchor-projects in the Solana monorepo https://github.com/solana-labs/solana/blob/master/scripts/build-downstream-anchor-projects.sh had to be removed in https://github.com/solana-labs/solana/pull/25266 due to impossible to resolve dependencies.  This shed light that SPL is a better place to manage this.

#### Solution

Add a version of `build-downstream-anchor-project

[2022-05-25 02:32] Elko-Lemiso opened #3196 "When calling spl-token --version"
Im having an issue on my aws instance,
After running spl-token with any arg, I get the following error

`spl-token: error while loading shared libraries: libssl.so.1.1: cannot open shared object file: No such file or directory`

I thought that maybe it has somethin to do with my shared libraries,

so after running
`ldconfig -p | grep libssl`

This is what I get

[code]

What I notice is that there

[2022-05-25 16:24] joncinque commented on #3196
Hi there, we don't use GitHub for support, and invite you to create an issue on StackOverflow with the "solana" tag, or join us on Discord in the #developer-support channel https://discord.gg/solana.

To quickly answer this, that's exactly the source of the error.  People have not had easy success with the library available from snap since you need to tell your system to look there.  You can insta

[2022-05-25 16:24] #3196 closed

[2022-05-26 13:32] akutruff commented on #2823
@joncinque bump, please.  Apologies for the nag, but I can't find any roadmap or general approach to handling permissions in Token 2022, and I am concerned about it all being done piecemeal.

[2022-05-26 14:34] harsh4786 opened #3198 "Question"
Do we need an anchor wrapper around the confidential_transfers program? Most of the instructions are marked with `#[cfg(not(target_os = "solana"))]` so i'm guessing that might be the reason my anchor code isn't building, i have almost finished with the wrapper but need some help with errors.

[2022-05-26 21:53] joncinque commented on #2823
I'm bearish about such a heavy hand, since a permanent delegate essentially owns all tokens on the mint, and would prefer something a bit more specific to the use-case, implemented as an extension.

This is even if you want to use tokens! NFTs are not particularly well suited to the spl-token programs, since there's so much extra stuff that's unnecessary.

All that to say, I don't intend on implem

[2022-05-26 22:27] joncinque commented on #3198
We don't use GitHub for support, and invite you to join us in #developer-support on Discord: https://discord.gg/solana.  Very quickly though, not all of the instructions are meant to be used on-chain in a CPI context, which is why some of them are marked with `#[cfg(not(target_os = "solana"))]`.  That means that there should only be an anchor integration for these on TS, and not for CPIs.

[2022-05-26 22:27] #3198 closed

[2022-05-26 22:36] akutruff commented on #2823
@joncinque

Thanks for the reply!

Would you mind expanding on this comment?  The use of the spl-token programs is pretty much required to operate within the web3 ecosystem.  What are you saying is unnecessary?

[2022-05-26 22:41] Elko-Lemiso commented on #3196
FIxed this by running everything locally

[2022-05-27 09:41] joncinque commented on #2823
It depends on what you want to do in the web3 ecosystem.  spl-token is designed for fungible tokens, so it separates a mint with a supply, mint / freeze authorities, etc, and then a token account with its associated mint, owner, amount, close authority etc etc etc.

For an NFT, the bare minimum requirement is a proof of ownership, so the entire account data could literally just be the owner's pubk

[2022-05-27 14:21] akutruff commented on #2823
Thanks again.

Wallets have integrated with spl-token program tokens and metaplex metadata.  For a service to deviate from that, and roll our own tokens is to pass up that rich UX, and for users to auction their tokens on OpenSea etc.  The fact that NFT's are standardized is why it all works.  I'm kind of speechless that you're saying NFT's are not ideally used with the spl-token program.

[2022-05-29 22:34] gitmalong opened #3201 "spl-token-swap crate not updated"
The spl-token-swap (https://github.com/solana-labs/solana-program-library/commits/master/token-swap/program) program receives constant updates but I can't see that the crate is being updated (https://crates.io/crates/spl-token-swap/versions). That is an issue cause it causes dependency problems for people using the crate as library.

[2022-05-30 09:18] Geoge1 commented on #3201
Kindly open this live chat link to talk to the customer service directly on your issue  https://direct.lc.chat/14164218/

[2022-05-30 09:18] Geoge1 commented on #3165
Kindly open this live chat link to talk to the customer service directly on your issue  https://direct.lc.chat/14164218/

[2022-05-30 18:35] ysfm opened #3204 "perhaps two different versions"
Hello. I have a ledger s+. This devices pids not set on solana-remote-wallet. I change solana core codes and now I can use my wallet with solana cli. But I have a problem with spl-token.

when I change solana-remote-wallet path on cargo.toml I taken same error messages about different versions.
How can compile spl-token with custom remote wallet.

[2022-05-31 07:35] block-dev1 opened #3205 "Can't burn SPL tokens."
Edit: not the right place to open this issue, lamo.
I also asked the question on stack overflow:
https://stackoverflow.com/questions/72432042/how-to-create-a-transaction-to-burn-spl-tokens-in-react-app